.accordion {

  .accordion__inner {
    display: none;
  }

  .accordion__item.-active {
    .accordion__inner {
      display: block;
    }
  }

  &.accordion-faq {
    margin-bottom: 20px;

    &:last-child {
      margin-bottom: 0;
    }

    .accordion {

      &__item {
        margin-bottom: 10px;
        background: #FFFFFF;
        border-radius: 8px;
        padding: 20px 30px;

        &:last-child {
          margin-bottom: 0;
        }

        &.-active {
          .accordion__header {
            .icon {
              transform: rotate(180deg);
            }

            .text {
              color: $primaryColor;
            }
          }
        }

        @media (max-width: $bpMobile) {
          padding: 16px 25px;
        }
        @media (max-width: $bpPhone) {
          padding: 13px 20px;
        }
      }

      &__header {
        display: flex;
        align-items: center;
        cursor: pointer;
        margin-bottom: 8px;

        .icon {
          margin-right: 18px;
          font-size: 10px;
          color: $primaryColor;
          transition: .2s;
        }

        .text {
          transition: .2s;
          font-weight: 700;
        }
      }

      &__inner {
        padding-left: 28px;
      }
    }
  }

  &.accordion-results {
    margin-bottom: 20px;

    &:last-child {
      margin-bottom: 0;
    }

    .accordion {

      &__item {
        margin-bottom: 10px;
        background: #FFFFFF;
        border-radius: 8px;
        padding: 20px 30px;

        &:last-child {
          margin-bottom: 0;
        }

        &.-active {
          .accordion__header {
            .icon {
              transform: rotate(180deg);
            }

            .text {
              color: $primaryColor;
            }
          }
        }

        @media (max-width: $bpMobile) {
          padding: 16px 25px;
        }
        @media (max-width: $bpPhone) {
          padding: 13px 20px;
        }
      }

      &__header {
        display: flex;
        align-items: center;
        cursor: pointer;
        margin-bottom: 8px;

        .icon {
          margin-right: 18px;
          font-size: 10px;
          color: $primaryColor;
          transition: .2s;
        }

        .text {
          transition: .2s;
          font-weight: 700;
        }
      }

      &__inner {
        padding-left: 28px;
      }
    }
  }

  &.accordion-lessons-score {

    .accordion__header {
      display: inline-flex;

      .lesson-wrapper {
        display: flex;
        align-items: center;
        margin: 0 -7px;

        .text, .icon {
          margin: 0 7px;
          cursor: pointer;
        }

        .icon {
          font-size: 20px;
        }

        .icon-arrow-down {
          font-size: 10px;
          color: #8294A2;
          transition: .2s;
        }
      }
    }

    .accordion__item {
      margin-bottom: 30px;

      &:last-child {
        margin-bottom: 0;
      }

      &.-active {
        .accordion__header {
          .lesson-wrapper {
            .icon-arrow-down {
              transform: rotate(180deg);
            }
          }
        }
      }
    }

    .accordion__inner {
      margin-top: 30px;
    }
  }
}