.catalog {

  &.catalog-main {
    .catalog__form-tags {
      margin-top: 10px;
    }

    .catalog__form-sort {
      margin-top: 5px;

      .sort-wrapper {
        display: flex;
        align-items: center;

        .sort-title {
          margin-right: 18px;

          .text {
            font-size: 13px;
            color: #7E8493;
          }
        }
      }
    }

    .catalog__wrapper {
      margin: 15px 0 30px;
    }

    .catalog__item {
      margin-bottom: 20px;
      background: #FFFFFF;
      box-shadow: 0 20px 25px rgba(218, 218, 241, 0.19);
      border-radius: 8px;
      overflow: hidden;

      &:last-child {
        margin-bottom: 0;
      }

      &-inner {
        display: flex;
        padding: 30px;
        margin: 0 -17px -20px;
      }

      .item {
        &__col {
          margin: 0 17px 20px;
          flex: 1 1 auto;

          &:first-child {
            width: 200px;
            flex: 0 0 auto;
          }

          &:last-child {
            width: 170px;
            flex: 0 0 auto;
          }

          &.col-control {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
          }
        }

        &__logo {
          width: 100%;
          background: #FFFFFF;
          box-shadow: 0 15px 20px rgba(218, 218, 241, 0.25);
          border-radius: 8px;
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 40px 10px;
          margin-bottom: 18px;

          &:last-child {
            margin-bottom: 0;
          }

          .image {
            width: 124px;
          }
        }

        &__rating {
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-bottom: 15px;


          &:last-child {
            margin-bottom: 0;
          }

          .rating-count {
            margin-left: 10px;
            .count {
              font-weight: 500;
            }
          }
        }

        &__grade {
          display: flex;
          align-items: center;

          .count {
            font-size: 18px;
            color: #fff;
            font-weight: 700;
            width: 62px;
            height: 36px;
            display: flex;
            justify-content: center;
            align-items: center;
            background: url("../img/rating-bg-image.png") center center no-repeat;
            background-size: cover;
            position: relative;
            margin-right: 10px;

            &:before {
              content: '';
              position: absolute;
              height: 100%;
              width: 86%;
              top: 0;
              left: 0;
              box-shadow: 0 12.9167px 17.2222px rgba(61, 150, 251, 0.2);
            }
          }

          .text {
            color: #8294A2;
            width: 50px;
          }
        }

        &__title {
          margin-bottom: 12px;

          &:last-child {
            margin-bottom: 0;
          }

          .text {
            font-size: 21px;
          }

          .name {
            font-weight: 600;
          }
        }

        &__price {
          flex: 1 1 auto;
          margin-bottom: 10px;

          .count {
            font-size: 24px;
            font-weight: 600;
          }
        }

        &__control {
          height: 42px;
          margin-bottom: 10px;

          &-wrapper {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
          }

          &-double {
            display: flex;
            margin: 0 -5px -10px;

            .item__control {
              margin: 0 5px 10px;
            }
          }

          .link {
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 12px;
            box-shadow: 0 15px 20px rgba(218, 218, 241, 0.25);
            border-radius: 8px;

            &.link-primary {
              padding: 10px 14px;
            }
          }

          .icon {
            font-size: 16px;
          }

          &.control-global {
            .link {
              background: #fff;
            }
            .icon {
              margin-right: 12px;
              color: #8294A1;
            }
          }

          &.control-favorite {
            .link {
              background: rgba(255, 42, 62, 0.05);
            }

            .icon {
              color: #ff2a3e;
            }
          }
        }
      }
    }
  }
}