.catalog {

  &.catalog-news-detail {

    .catalog {

      &__wrapper {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -15px -20px;
      }

      &__item {
        margin: 0 15px 20px;
        width: calc(33.3333% - 30px);

        @media (max-width: $bpMobile) {
          width: calc(50% - 30px);
        }

        @media (max-width: 360px) {
          width: calc(100% - 30px);
        }

        .item {

          &__image {
            padding-top: 100%;
            border-radius: 8px;
            position: relative;
            margin-bottom: 16px;
            background-position: center center;
            background-size: cover;
            background-repeat: no-repeat;

            &:last-child {
              margin-bottom: 0;
            }

            @media (max-width: $bpMobile) {
              margin-bottom: 10px;
            }
          }

          &__title {
            margin-bottom: 16px;

            &:last-child {
              margin-bottom: 0;
            }

            .text {
              font-size: 19px;
              line-height: 1.6;
              transition: .2s;
            }

            @media (max-width: $bpMobile) {
              margin-bottom: 10px;

              .text {
                font-size: 16px;
              }
            }

            @media (max-width: $bpPhone) {
              .text {
                font-size: 14px;
              }
            }
          }

          &__stat {
            margin-bottom: 16px;

            &-wrapper {
              display: flex;
              justify-content: space-between;
              align-items: center;
              flex-wrap: wrap;
              margin: 0 -5px -10px;
            }

            .stat {
              margin: 0 5px 10px;

              .text {
                color: $grayColor;
                font-weight: 500;
              }

              .icon {
                color: $grayColor;
                margin-right: 10px;
              }
            }

            &:last-child {
              margin-bottom: 0;
            }

            @media (max-width: $bpMobile) {
              margin-bottom: 10px;
            }
          }

          &__topic {
            margin-bottom: 16px;

            &:last-child {
              margin-bottom: 0;
            }

            .text {
              background: $primaryColor;
              border-radius: 4px;
              padding: 4px 20px;
              color: #fff;
              font-size: 13px;
              display: inline-block;
            }

            @media (max-width: $bpMobile) {
              margin-bottom: 10px;
            }
          }
        }

        &:hover {
          .item__title {
            .text {
              color: $primaryColor;
              text-decoration: underline;
            }
          }
        }
      }
    }
  }

  &.catalog-detail-item {
    .catalog {
      &__wrapper {
        margin-bottom: 20px;

        &:last-child {
          margin-bottom: 0;
        }
      }

      &__button {
        width: 100%;
        display: none;

        .link {
          width: 100%;

          @media (max-width: $bpPhone) {
            height: 45px;
            min-height: 45px;
          }
        }
      }

      &__item {
        margin-bottom: 20px;
        background: #FFFFFF;
        box-shadow: 0 20px 25px rgba(218, 218, 241, 0.19);
        border-radius: 8px;
        overflow: hidden;
        display: none;

        &:last-child {
          margin-bottom: 0;
        }

        &-inner {
          padding: 30px;

          @media (max-width: $bpMobile) {
            padding: 25px;
          }
          @media (max-width: $bpPhone) {
            padding: 15px 20px;
          }
        }

        &-wrapper {
          display: flex;
          margin: 0 -15px -20px;

          @media (max-width: $bpMobile) {
            flex-wrap: wrap;
          }
          @media (max-width: $bpPhone) {
            margin: 0 -15px -10px;
          }
        }

        .item {
          margin: 0 15px 20px;

          @media (max-width: $bpPhone) {
            margin: 0 15px 10px;
          }

          &.item-info {
            width: 200px;
            flex: 0 0 auto;

            @media (max-width: $bpPhone) {
              display: none;
            }
          }

          &.item-content {
            flex: 1 1 auto;
            display: flex;
            flex-direction: column;

            @media (max-width: $bpMobile) {
              max-width: calc(100% - 30px);
            }

            @media (min-width: $bpPhone + 1) {
              .item__rating {
                display: none;
              }
            }
          }

          &__logo {
            width: 100%;
            position: relative;
            padding-top: 55%;
            overflow: hidden;
            margin-bottom: 20px;

            &:last-child {
              margin-bottom: 0;
            }

            .image {
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              max-height: 100%;
              height: 100%;
              max-width: 10000%;
            }

            &.-logo {
              background: #FFFFFF;
              box-shadow: 0 15px 20px rgba(218, 218, 241, 0.25);
              border-radius: 8px;

              .image {
                max-height: calc(100% - 40px);
              }
            }

            @media (max-width: $bpPhone) {
              margin-bottom: 0;
            }
          }

          &__rating {
            margin-bottom: 20px;

            &:last-child {
              margin-bottom: 0;
            }

            &-wrapper {
              display: flex;
              margin: 0 -8px -10px;
            }

            .list, .rating-count, .sup-block {
              margin: 0 8px 10px;
            }

            @media (max-width: $bpPhone) {
              margin-bottom: 10px;

              .sup-block {
                display: none;
              }
            }
          }

          .control-favorite {

            .link {
              width: 42px;
              height: 42px;
              display: flex;
              align-items: center;
              justify-content: center;
              border-radius: 8px;
              background: #FFFFFF;
              box-shadow: 0 15px 20px rgba(218, 218, 241, 0.25);
            }

            .icon {
              transition: .2s;
              font-size: 18px;
              color: #8294A1;
            }

            &.-active, &:hover {
              .link {
                background: #FFF4F5;
              }

              .icon {
                color: rgba(255, 42, 62, 1);

                &:before {
                  content: '\e913';
                }
              }
            }

            @media (max-width: $bpPhone) {
              display: none;
            }
          }

          &__title {
            margin-bottom: 18px;

            &:last-child {
              margin-bottom: 0;
            }

            .text {
              font-size: 21px;
            }

            &-wrapper {
              display: flex;
              margin: 0 -5px -10px;

              .text, .control-favorite {
                margin: 0 5px 10px;
              }
            }

            @media (max-width: $bpMobile) {
              .text {
                font-size: 18px;
              }
            }

            @media (max-width: $bpPhone) {
              margin-bottom: 10px;

              .text {
                font-size: 16px;
              }
            }
          }

          &__list {
            margin-bottom: 24px;
            flex: 1 1 auto;

            .list-text-count-grid {
              .list__item {
                grid-template-columns: minmax(auto, 58px) auto;

                .count-block {
                  .count {
                    display: block;
                    margin-bottom: 5px;

                    &:last-child {
                      margin-bottom: 0;
                    }
                  }
                }
              }
            }

            &:last-child {
              margin-bottom: 0;
            }

            @media (max-width: $bpPhone) {
              margin-bottom: 10px;
            }
          }

          &__mobile-button {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin: 0 -5px;

            .link {
              margin: 0 5px;
            }

            .link-text-primary {
              display: none;
              flex: 1 1 auto;

              .text {
                font-size: 12px;
              }

              &.-open {
                .icon {
                  transform: rotate(180deg);
                }
              }
            }

            .link-white {
              height: 38px;
              font-size: 12px;
              padding: 10px;

              @media (min-width: $bpPhone + 1) {
                display: none;
              }
            }

            .control-favorite {
              display: block;

              @media (min-width: $bpPhone + 1) {
                display: none;
              }

              .link {
                height: 38px;
                width: 38px;
              }

              .icon {
                font-size: 14px;
              }
            }
          }

          &__control-wrapper {
            display: flex;
            justify-content: flex-end;
            margin: 0 -10px;

            .item__control {
              margin: 0 10px;

              &.control-tags {
                flex: 1 1 auto;
              }
            }

            @media (max-width: $bpMobile) {
              flex-wrap: wrap;
              justify-content: flex-start;
              margin: 0 -10px -10px;

              .item__control {
                margin: 0 10px 10px;

                &.control-tags {
                  width: 100%;
                }
              }
            }
          }
        }
      }
    }

    &.catalog-detail-olympiads {
      .catalog__item {
        .item {
          &.item-info {
            display: block;

            .item__rating {
              display: none;
            }

            @media (max-width: $bpPhone) {
              width: 150px;

              .image {
                max-height: calc(100% - 10px);
              }
            }

            @media (max-width: 360px) {
              width: 100px;
            }
          }

          &__list {
            .list-text-count-grid {
              .list__item {
                grid-template-columns: 115px auto;

                @media (max-width: $bpPhone) {
                  display: none;
                }

                @media (max-width: 360px) {
                  grid-template-columns: 98px auto;
                }
              }
            }
          }
        }
      }
    }
  }

  &.catalog-rating {
    counter-reset: li;

    .catalog__item {
      margin-bottom: 5px;

      &:last-child {
        margin-bottom: 0;
      }

      &-inner {
        padding: 18px;
        background: #FFFFFF;
        box-shadow: 0 20px 25px rgba(218, 218, 241, 0.19);
        border-radius: 8px;
      }

      &.-with-sup {
        .catalog__item-inner {
          border-radius: 8px 8px 0 0;
          padding: 18px 18px 10px 18px;
        }

        .item__sup {
          text-align: center;
          padding: 10px;
          border-radius: 0 0 3px 3px;
          border-bottom: 3px solid transparent;

          .text {
            font-size: 13px;
          }
        }

        &.-best {
          .item__sup {
            background: rgba(68, 203, 90, 0.1);
            border-color: #44CB5A;

            .text {
              color: #44CB5A;
            }
          }
        }

        &.-choose {
          .item__sup {
            background: rgba(106, 76, 251, 0.1);
            border-color: #6A4CFB;

            .text {
              color: #6A4CFB;
            }
          }
        }
      }

      .item {

        &-content {
          margin-bottom: 15px;
          margin-left: -18px;

          &-wrapper {
            display: flex;
            justify-content: space-between;
            margin: 0 -2.5px -10px;
          }

          &:last-child {
            margin-bottom: 0;
          }
        }

        &-name {
          margin-bottom: 10px;
          max-width: 265px;
          width: 100%;

          &:last-child {
            margin-bottom: 0;
          }
        }

        &-bottom {
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin: 0 -5px -5px;
        }

        &__control-wrapper {
          display: flex;
          align-items: center;
          margin: 0 2.5px 10px;
        }

        &__control {
          margin-right: 5px;

          &:last-child {
            margin-right: 0;
          }

          .icon {
            font-size: 16px;
            color: rgba(130, 148, 161, .5);
          }

          &.control-global {
            .icon {
              color: #8294A2;
              transition: .2s;
            }

            .link {
              &:hover {
                background: $primaryColor;

                .icon {
                  color: #fff;
                }

                .text {
                  color: #fff;
                }
              }
            }
          }

          &.control-favorite {

            .icon {
              transition: .2s;
            }

            &.-active, &:hover {
              .link {
                background: #FFF4F5;
              }

              .icon {
                color: rgba(255, 42, 62, 1);

                &:before {
                  content: '\e913';
                }
              }
            }
          }
        }

        &__logo, &__control {
          height: 42px;

          .link {
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            background: #FFFFFF;
            box-shadow: 0 15px 20px rgba(218, 218, 241, 0.25);
            border-radius: 8px;
            padding: 2px 13px;
          }
        }

        &__logo {
          margin: 0 2.5px 10px;
          width: 126px;

          .image {
            max-height: 100%;
          }
        }

        &__number {
          background: rgba(61, 150, 251, 0.1);
          border-radius: 0 8px 8px 0;
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 0 5px;
          margin: 0 2.5px 10px;
          height: 42px;
          width: 57px;

          &:before {
            counter-increment: li;
            content: '№ ' counters(li, '');
            font-weight: 600;
            flex: 0 0 auto;
            color: $primaryColor;
          }
        }

        &__rating, &__price {
          margin: 0 5px 5px;
        }

        &__price {
          .count {
            font-weight: 600;
          }
        }
      }
    }

    @media (max-width: $bpTablet) {
      margin: 0 -25px;
      display: flex;
      overflow-x: auto;

      .catalog__item {
        margin-bottom: 0;
        margin-right: 10px;
        flex: 0 0 auto;
        border-radius: 8px;
        overflow: hidden;

        &:first-child {
          padding-left: 25px;
        }

        &:last-child {
          padding-right: 25px;
          margin-right: 0;
        }

        &.-with-sup {
          position: relative;

          .catalog__item-inner {
            border-radius: 8px;
            overflow: hidden;
          }

          .item__sup {
            border-bottom: none;
            padding: 9px 20px;
            border-top-left-radius: 8px;
            position: absolute;
            right: 0;
            bottom: 0;
          }

          &.-best {
            .catalog__item-inner {
              border-color: #44cb5a;
            }

            .item__sup {
              background: #44cb5a;

              .text {
                color: #fff;
              }
            }
          }

          &.-choose {
            .catalog__item-inner {
              border-color: #6a4cfb;
            }

            .item__sup {
              background: #6a4cfb;

              .text {
                color: #fff;
              }
            }
          }

          .item__rating {
            display: none;
          }
        }

        &-inner {
          padding: 12px;
          border: 2px transparent solid;
        }

        .item-bottom {
          .item__price {
            order: 0;
          }

          .item__rating {
            order: 1;
          }
        }
      }
    }

    @media (max-width: $bpPhone) {

      .catalog__item {
        &-inner {
          padding: 12px 12px 16px 12px;
        }

        .item-content {
          margin-bottom: 0;
        }

        .item__control, .item-bottom, .item-name {
          display: none;
        }

        .item__logo {
          .link {
            box-shadow: none;
          }
        }


        &.-with-sup {

          .catalog__item-inner {
            padding: 12px 12px 16px 12px;
          }

          .item__sup {
            padding: 0 20px;
            min-width: 50%;
            height: 18px;

            .text {
              font-size: 9px;
            }
          }
        }
      }
    }
  }

  &.catalog-news {
    .catalog__item {
      background: #FFFFFF;
      box-shadow: 0 20px 25px rgba(218, 218, 241, 0.19);
      border-radius: 8px;
      padding: 15px;
      margin-bottom: 5px;
      position: relative;

      &:last-child {
        margin-bottom: 0;
      }

      &:before {
        position: absolute;
        content: '';
        height: 4px;
        width: 0;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        background: $primaryColor;
        transition: .3s;
      }

      @media (max-width: $bpPhone) {
        padding: 10px
      }

      &:hover {
        &:before {
          width: 100%;
        }

        .item__title {
          .text {
            color: $primaryColor;
          }
        }
      }
    }

    .catalog__item-inner {
      display: flex;
      align-items: center;
      margin: 0 -7.5px;

      .item {

        &__image {
          width: 88px;
          flex: 0 0 auto;
          border-radius: 8px;
          margin: 0 7.5px;

          &-wrapper {
            padding-top: 100%;
            overflow: hidden;
            position: relative;
          }

          .image {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            height: 100%;
            min-width: 100%;
            max-width: 10000%;
          }
        }

        &__content {
          margin: 0 7.5px;
        }

        &__title {
          margin-bottom: 12px;

          &:last-child {
            margin-bottom: 0;
          }

          .text {
            font-weight: 500;
            line-height: 1.4;
            transition: .2s;
          }
        }

        &__date {
          .count {
            color: #7E8493;
          }
        }
      }
    }
  }

  &.catalog-main {
    margin-bottom: 26px;

    &:last-child {
      margin-bottom: 0;
    }

    .catalog__form-tags {
      margin-top: 10px;
    }

    .catalog__form-sort {
      margin-top: 5px;

      @media (max-width: $bpMobile) {
        margin-top: 15px;
      }

      .sort-wrapper {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin: 0 -9px;
      }

      .sort-item {
        margin: 0 9px;

        &.sort-title {
          .text {
            font-size: 13px;
            color: #7E8493;
          }
        }
      }
    }

    .catalog__wrapper {
      margin: 15px 0 30px;
    }

    .catalog__item {
      margin-bottom: 20px;
      background: #FFFFFF;
      box-shadow: 0 20px 25px rgba(218, 218, 241, 0.19);
      border-radius: 8px;
      overflow: hidden;
      display: none;

      &:last-child {
        margin-bottom: 0;
      }

      &.-with-sup {
        border-radius: 8px 8px 0 0;

        .item__sup {
          padding: 10px;
          text-align: center;
          border-radius: 0 0 3px 3px;
          border-bottom: 3px solid transparent;

          @media (max-width: $bpPhone) {
            padding: 7px;
          }

          .text {
            font-size: 13px;
          }
        }

        &.-best {
          .item__sup {
            background: rgba(68, 203, 90, 0.1);
            border-color: $greenColor;

            .text {
              color: $greenColor;
            }
          }
        }
      }

      &-inner {
        padding: 30px;

        @media (max-width: $bpTablet) {
          padding: 25px;
        }
        @media (max-width: $bpMobile) {
          padding: 20px;
        }
        @media (max-width: $bpPhone) {
          padding: 15px;
        }
      }

      &-wrapper {
        display: flex;
        margin: 0 -17px -20px;

        @media (min-width: $bpTablet + 1) and (max-width: $bpLaptop) {
          margin: 0 -8px -20px;
        }

        @media (max-width: $bpMobile) {
          flex-wrap: wrap;
        }

        @media (max-width: $bpPhone) {
          margin: 0 -17px -10px;
        }
      }

      .item {
        &__col {
          margin: 0 17px 20px;
          flex: 1 1 auto;

          @media (min-width: $bpTablet + 1) and (max-width: $bpLaptop) {
            margin: 0 8px 20px;
          }

          @media (max-width: $bpPhone) {
            margin: 0 17px 10px;
          }

          &.col-logo {
            width: 200px;
            flex: 0 0 auto;
          }

          &.col-control {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            width: 170px;
            flex: 0 0 auto;

            @media (min-width: $bpTablet) and (max-width: $bpLaptop) {
              width: 125px;
            }
          }

          @media (max-width: $bpMobile) {
            width: 100%;

            &.col-content {
              width: calc(100% - 34px);
              order: 2;

              .item__list {
                margin-top: 10px;
                display: none;
              }
            }

            &.col-logo {
              order: 0;
              width: calc(50% - 34px);
            }

            &.col-control {
              order: 1;
              width: calc(50% - 34px);
            }
          }

          @media (max-width: $bpPhone) {

            &.col-logo {
              order: 0;
              width: calc(100% - 34px);
              display: flex;
              flex-wrap: wrap;
              align-items: center;
              justify-content: space-between;
            }

            &.col-content {
              order: 1;
            }

            &.col-control {
              order: 2;
              width: calc(100% - 34px);
              flex-direction: row;
              flex-wrap: wrap;
              justify-content: space-between;
              align-items: center;
            }
          }
        }

        &__logo {
          max-width: 100%;
          background: #FFFFFF;
          box-shadow: 0 15px 20px rgba(218, 218, 241, 0.25);
          border-radius: 8px;
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 40px 10px;
          margin-bottom: 18px;

          @media (max-width: $bpMobile) {
            padding: 25px 10px;
          }

          @media (max-width: $bpPhone) {
            padding: 15px 10px;
            margin-bottom: 10px;
            width: 100%;
          }

          &:last-child {
            margin-bottom: 0;
          }

          .image {
            width: 100%;
            max-width: 124px;
            max-height: 100%;
          }
        }

        &__image {
          max-width: 100%;
          border-radius: 8px;
          overflow: hidden;
          display: flex;
          margin-bottom: 18px;

          @media (max-width: $bpMobile) {
            padding: 25px 10px;
          }

          @media (max-width: $bpPhone) {
            padding: 15px 10px;
            margin-bottom: 10px;
            width: 100%;
          }

          &:last-child {
            margin-bottom: 0;
          }

          .image {
            width: 100%;
          }
        }

        &__rating {
          margin-bottom: 15px;

          @media (max-width: $bpPhone) {
            margin-bottom: 0;
          }

          &-wrapper {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            margin: 0 -5px -10px;
          }

          &:last-child {
            margin-bottom: 0;
          }

          .rating-count {
            margin: 0 5px 10px;

            .count {
              font-weight: 500;
            }

            @media (max-width: $bpPhone) {
              display: none;
            }
          }

          .list {
            margin: 0 5px 10px;
          }

          @media (max-width: $bpPhone) {
            width: calc(50% - 5px);
            flex-wrap: wrap;
          }
        }

        &__grade {
          display: flex;
          align-items: center;

          .count {
            font-size: 18px;
            color: #fff;
            font-weight: 700;
            width: 62px;
            height: 36px;
            display: flex;
            justify-content: center;
            align-items: center;
            background: url("../img/rating-bg-image.png") center center no-repeat;
            background-size: cover;
            position: relative;
            margin-right: 10px;

            &:before {
              content: '';
              position: absolute;
              height: 100%;
              width: 86%;
              top: 0;
              left: 0;
              box-shadow: 0 12.9167px 17.2222px rgba(61, 150, 251, 0.2);

              @media (max-width: $bpPhone) {
                display: none;
              }
            }
          }

          .text {
            color: #8294A2;
            width: 50px;
          }

          @media (max-width: $bpPhone) {
            width: calc(50% - 5px);
            justify-content: flex-end;

            .count {
              order: 1;
              margin-right: 0;
              margin-left: 10px;
              width: 40px;
              height: 23px;
              flex: 0 0 auto;
              font-size: 11px;
              background-image: url("../img/rating-bg-image-left.png");
            }

            .text {
              order: 0;
              width: auto;
              font-size: 12px;
            }
          }
        }

        &__title {
          margin-bottom: 12px;

          &:last-child {
            margin-bottom: 0;
          }

          .text {
            font-size: 21px;

            @media (max-width: $bpPhone) {
              font-size: 18px;
            }
            @media (max-width: $bpPhone) {
              font-size: 16px;
            }
          }

          .name {
            font-weight: 600;
          }
        }

        &__mobile-button {
          @media (min-width: $bpMobile + 1) {
            display: none;
          }

          .link.-opened {
            .icon {
              transform: rotate(180deg);
            }
          }
        }

        &__price {
          flex: 1 1 auto;
          margin-bottom: 10px;

          .text {
            white-space: nowrap;
          }

          .count {
            font-size: 24px;
            font-weight: 600;
          }

          @media (max-width: $bpTablet) {
            .count {
              font-size: 22px;
            }
          }

          @media (max-width: $bpMobile) {
            .count {
              font-size: 18px;
            }
          }

          @media (max-width: $bpPhone) {
            flex: 0 1 auto;

            .count {
              font-size: 15px;
            }

            .text {
              font-size: 14px;
            }
          }
        }

        &__control {
          height: 42px;
          margin-bottom: 10px;

          &-wrapper {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
          }

          &-double {
            display: flex;
            margin: 0 -5px -10px;

            .item__control {
              margin: 0 5px 10px;
            }

            @media (min-width: $bpTablet) and (max-width: $bpLaptop) {
              justify-content: flex-end;
              flex-wrap: wrap;
            }

            @media (max-width: $bpPhone) {
              display: none;
            }
          }

          .link {
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 12px;
            box-shadow: 0 15px 20px rgba(218, 218, 241, 0.25);
            border-radius: 8px;

            &.link-primary {
              padding: 10px 14px;
            }
          }

          .text {
            transition: .2s;
          }

          .icon {
            font-size: 16px;
          }

          &.control-global {
            .link {
              background: #fff;

              .icon {
                margin-right: 12px;
                color: #8294A1;
                transition: .2s;
              }

              &:hover {
                background: $primaryColor;

                .icon {
                  color: #fff;
                }

                .text {
                  color: #fff;
                }
              }
            }
          }

          &.control-favorite {

            .icon {
              transition: .2s;
            }

            &.-active, &:hover {
              .link {
                background: rgba(255, 42, 62, 0.05);
              }

              .icon {
                color: #ff2a3e;

                &:before {
                  content: '\e913';
                }
              }
            }
          }

          @media (max-width: $bpPhone) {
            margin-bottom: 0;
            height: 38px;
          }
        }

        &__text {
          margin-bottom: 18px;

          &:last-child {
            margin-bottom: 0;
          }

          @media (max-width: $bpPhone) {
            margin-bottom: 0;
            display: none;
          }

          .text {
            line-height: 1.8;
          }
        }

        &__list {
          margin-bottom: 18px;

          &:last-child {
            margin-bottom: 0;
          }

          .list-text-count-grid {
            .list__item {
              grid-template-columns: 170px auto;
            }
          }

          .list-count-text-grid {
            .list__item {
              grid-template-columns: 65px auto;
            }

            .text {
              text-align: right;
            }
          }
        }
      }
    }

    .catalog__button {
      margin-bottom: 30px;
      display: none;

      &:last-child {
        margin-bottom: 0;
      }

      .link {
        width: 100%;
      }
    }

    &.catalog-number {
      .catalog__wrapper {
        counter-reset: li;
      }

      .catalog__item {
        .catalog__item-inner {
          padding-left: 17px;
        }

        .catalog__item-wrapper {
          position: relative;

          &:before {
            counter-increment: li;
            content: '№' counters(li, '');
            padding: 14px 20px;
            background: #ECF5FF;
            border-radius: 0 8px 8px 0;
            font-size: 19px;
            font-weight: 700;
            color: $primaryColor;
            height: 48px;
          }

          @media (max-width: $bpMobile) {
            justify-content: flex-end;
            &:before {
              position: absolute;
              height: 42px;
              padding: 12px 16px;
              font-size: 16px;
              top: 0;
              left: 0;
            }
            .item__logo {
              margin-left: 57px;
            }
          }

          @media (max-width: $bpPhone) {
            .item__logo {
              width: 100%;
            }

            .item__rating {
              margin-bottom: 0;
            }
          }
        }
      }
    }

    &.catalog-university {
      .catalog__form-header {
        background: #EBF4FE;
        box-shadow: 0 20px 25px rgba(218, 218, 241, 0.19);
        border-radius: 8px;
        padding: 10px 30px;

        .header__col {
          margin: 0 5px 8px;

          &-wrapper {
            display: flex;
            align-items: center;
            margin: 0 -5px -8px;
          }

          &.col-count {
            width: calc(20% - 10px);

            .text {
              color: $defaultColor;
              font-weight: 700;
            }
          }

          &.col-name {
            width: calc(30% - 10px);
          }

          &.col-passing-score, &.col-budget-places {
            width: calc(15% - 10px);
          }

          &.col-learning-price {
            width: calc(20% - 10px);
          }

          .text {
            color: #8294A2;
            font-size: 11px;
          }
        }

        @media (max-width: $bpLaptop) {
          display: none;
        }
      }

      .catalog__item {
        &-inner {
          @media (max-width: $bpPhone) {
            padding: 10px 15px;
          }
        }

        &-wrapper {
          flex-wrap: wrap;
          margin: 0 -10px -20px;

          .item {

            &__col {
              margin: 0 10px 20px;

              &.col-logo {
                width: calc(20% - 20px);

                .item__col-wrapper {
                  display: flex;
                  flex-wrap: wrap;
                }
              }

              &.col-content {
                width: calc(80% - 20px);
                display: flex;
                flex-direction: column;

                .control-block {
                  display: flex;
                  justify-content: flex-end;
                  align-items: flex-end;
                  flex: 1 1 auto;

                  .item__control-wrapper {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: flex-end;
                    margin: 0 -5px -10px;
                  }

                  .item__control {
                    margin: 0 5px 10px;
                  }
                }
              }
            }

            &__logo {
              padding: 18px;
              max-width: 124px;
            }

            &__table-wrapper {
              margin-bottom: 15px;
              overflow-x: auto;

              &:last-child {
                margin-bottom: 0;
              }
            }

            @media (max-width: $bpLaptop) {
              &__col {
                &.col-logo {
                  .item__rating {
                    .rating-count {
                      display: none;
                    }
                  }
                }
              }
            }

            @media (max-width: $bpMobile) {
              &__col {
                &.col-logo {
                  width: calc(100% - 20px);
                  display: flex;
                  align-items: center;

                  .item__logo {
                    margin-right: 10px;
                    margin-bottom: 0;
                  }

                  .item__grade {
                    .count {
                      order: 1;
                      margin-right: 0;
                      margin-left: 10px;
                      background-image: url('../img/rating-bg-image-left.png');
                      width: 40px;
                      height: 23px;
                      font-size: 11px;
                    }

                    .text {
                      order: 0;
                      width: auto;
                      font-size: 12px;
                    }
                  }
                }

                &.col-content {
                  .control-block {
                    .item__control-wrapper {
                      justify-content: flex-start;
                      flex-wrap: wrap;
                      width: 100%;
                    }
                  }
                }
              }
            }

            @media (min-width: $bpPhone + 1) {
              &__col {
                &.col-logo {
                  .control-block {
                    display: none;
                  }
                }
              }
            }

            @media (max-width: $bpPhone) {
              &__col {
                margin-bottom: 10px;

                &.col-logo {
                  justify-content: space-between;

                  .item__logo {
                    max-width: 93px;
                    height: 42px;
                    padding: 0;

                    .image {
                      max-width: 38px;
                    }
                  }

                  .control-block {
                    max-width: calc(100% - 103px);

                    .item__control-wrapper {
                      flex-direction: row;
                      margin: 0 -5px;

                      .item__control {
                        margin: 0 5px;
                        height: 38px;
                        min-width: 38px;

                        .link {
                          padding: 10px 8px;
                        }

                        &.control-global {
                          .text {
                            font-size: 12px;
                          }

                          .icon {
                            margin-right: 8px;
                          }
                        }
                      }
                    }
                  }

                  .item__rating-info {
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    margin-top: 10px;
                  }

                  .item__rating {
                    width: auto;
                    margin-bottom: 0;
                  }
                }

                &.col-content {
                  .control-block {
                    display: none;
                  }
                }
              }
            }
          }
        }
      }
    }

    &.catalog-university-search {
      .catalog__item {
        .item__col {
          &.col-logo {

            @media (min-width: $bpPhone + 1) {
              .control-block {
                display: none;
              }
            }
            @media (max-width: $bpPhone) {
              .control-block {
                width: 100px;
                flex: 0 0 auto;
                margin-bottom: 10px;

                .item-global {
                  .link {
                    height: 38px;
                    padding: 10px;
                  }
                }
              }

              .item__logo {
                height: 38px;
                padding: 1px 10px;
                width: calc(100% - 110px);
                max-width: 100px;
              }
            }
          }
        }
      }
    }
  }

  &.catalog-reviews {
    .catalog__wrapper {
      margin-bottom: 15px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    .catalog__title {
      margin-bottom: 26px;

      .text {
        font-size: 24px;
        font-weight: 700;
      }

      @media (max-width: $bpTablet) {
        .text {
          font-size: 22px;
        }
      }
      @media (max-width: $bpMobile) {

        .text {
          font-size: 20px;
        }
      }
      @media (max-width: $bpPhone) {
        margin-bottom: 18px;

        .text {
          font-size: 18px;
        }
      }
    }

    .catalog__item {
      display: none;
      position: relative;

      &.-new {
        &:before {
          content: '';
          width: 5px;
          border-radius: 5px 0 0 5px;
          height: 100%;
          position: absolute;
          left: 0;
          top: 0;
          background: $greenColor;
        }
      }

      &-wrapper {
        background: #FFFFFF;
        box-shadow: 0 20px 25px rgba(218, 218, 241, 0.19);
        border-radius: 8px;
        margin-bottom: 10px;
        padding: 25px 35px;
        overflow: hidden;

        &.-answer {
          background: #EBF4FE;
          margin-left: 40px;

          .item__form-answer {
            .input__field {
              background: #fff;
            }
          }
        }
      }

      &:last-child {
        margin-bottom: 0;
      }

      .item {

        &__header {
          margin-bottom: 15px;

          &-wrapper {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 0 -5px -5px;
          }

          &:last-child {
            margin-bottom: 0;
          }
        }

        &__name, &__date {
          margin: 0 5px 5px;
        }

        &__name {
          .text {
            font-size: 18px;
          }
        }

        &__date {
          color: #7E8493;
        }

        &__content {
          margin-bottom: 15px;

          &:last-child {
            margin-bottom: 0;
          }

          .text {
            line-height: 2;
          }
        }

        &__info {
          margin-bottom: 15px;

          &:last-child {
            margin-bottom: 0;
          }

          &-wrapper {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 0 -5px -10px;
          }
        }

        &__rating {
          margin: 0 5px 10px;

          &-wrapper {
            display: flex;
            align-items: center;
          }

          .rating-count {
            margin-left: 10px;

            .count {
              color: #7E8493;
            }
          }
        }

        &__grade {
          margin: 0 5px 10px;

          &-wrapper {
            display: flex;
            align-items: center;
          }

          .grade__item {
            display: flex;
            align-items: center;
            margin-right: 10px;

            &:last-child {
              margin-right: 0;
            }

            .icon {
              margin-right: 8px;
              cursor: pointer;
            }

            .icon, .count {
              color: #7E8493;
              transition: .2s;
            }

            &.-active, &:hover {

              &.item-like {
                .icon, .count {
                  color: $greenColor;
                }
              }

              &.item-dislike {
                .icon, .count {
                  color: $redColor;
                }
              }
            }
          }
        }

        &__bottom {

          &-wrapper {
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
            margin: 0 -5px -10px;
          }

          .item__tags {
            margin: 0 5px 10px;
            flex: 1 1 auto;
          }

          .item__button {
            margin: 0 5px 10px;
          }
        }

        &__form-answer {
          display: none;
        }
      }

      @media (max-width: $bpMobile) {
        &-wrapper {
          padding: 25px;

          &.-answer {
            margin-left: 30px;
          }
        }
      }

      @media (max-width: $bpPhone) {
        &-wrapper {
          padding: 20px 15px;

          &.-answer {
            margin-left: 20px;
          }
        }
      }
    }

    .catalog__button {
      display: none;

      .link {
        width: 100%;
      }
    }

    .catalog__notification {
      background: rgba(68, 203, 90, 0.1);
      border-radius: 8px;
      height: 34px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 20px;

      .text {
        color: $greenColor;
        font-size: 13px;
      }
    }
  }

  &.catalog-comments {
    .catalog__wrapper {
      margin-bottom: 15px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    .catalog__title {
      margin-bottom: 26px;
      display: inline-flex;
      align-items: center;

      .text {
        font-size: 24px;
        font-weight: 700;
      }

      .count {
        font-size: 18px;
        font-weight: 400;
      }

      @media (max-width: $bpTablet) {
        .text {
          font-size: 22px;
        }
      }
      @media (max-width: $bpMobile) {

        .text {
          font-size: 20px;
        }
      }
      @media (max-width: $bpPhone) {
        margin-bottom: 18px;

        .text {
          font-size: 18px;
        }
      }
    }

    .catalog__item {
      &-wrapper {
        background: #FFFFFF;
        box-shadow: 0 20px 25px rgba(218, 218, 241, 0.19);
        border-radius: 8px;
        margin-bottom: 10px;
        padding: 25px 35px;

        &.-answer {
          background: #EBF4FE;
          margin-left: 40px;

          .item__form-answer {
            .input__field {
              background: #fff;
            }
          }
        }
      }

      &:last-child {
        margin-bottom: 0;
      }

      .item {

        &__header {
          margin-bottom: 15px;

          &-wrapper {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 0 -5px -5px;
          }

          &:last-child {
            margin-bottom: 0;
          }
        }

        &__name, &__date {
          margin: 0 5px 5px;
        }

        &__name {
          .text {
            font-size: 18px;
          }
        }

        &__date {
          color: #7E8493;
        }

        &__content {
          margin-bottom: 15px;

          &:last-child {
            margin-bottom: 0;
          }

          .text {
            line-height: 2;
          }
        }

        &__info {
          margin-bottom: 15px;

          &:last-child {
            margin-bottom: 0;
          }

          &-wrapper {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 0 -5px -10px;
          }
        }

        &__rating {
          margin: 0 5px 10px;

          &-wrapper {
            display: flex;
            align-items: center;
          }

          .rating-count {
            margin-left: 10px;

            .count {
              color: #7E8493;
            }
          }
        }

        &__grade {
          margin: 0 5px 10px;

          &-wrapper {
            display: flex;
            align-items: center;
          }

          .grade__item {
            display: flex;
            align-items: center;
            margin-right: 10px;

            &:last-child {
              margin-right: 0;
            }

            .icon {
              margin-right: 8px;
              cursor: pointer;
            }

            .icon, .count {
              color: #7E8493;
              transition: .2s;
            }

            &.-active, &:hover {

              &.item-like {
                .icon, .count {
                  color: $greenColor;
                }
              }

              &.item-dislike {
                .icon, .count {
                  color: $redColor;
                }
              }
            }
          }
        }

        &__bottom {

          &-wrapper {
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
            margin: 0 -5px -10px;
          }

          .item__tags {
            margin: 0 5px 10px;
            flex: 1 1 auto;
          }

          .item__button {
            margin: 0 5px 10px;
          }
        }

        &__form-answer {
          display: none;
        }
      }

      @media (max-width: $bpMobile) {
        &-wrapper {
          padding: 25px;

          &.-answer {
            margin-left: 30px;
          }
        }
      }

      @media (max-width: $bpPhone) {
        &-wrapper {
          padding: 20px 15px;

          &.-answer {
            margin-left: 20px;
          }
        }
      }
    }

    .catalog__button {
      display: none;

      .link {
        width: 100%;
      }
    }
  }

  &.catalog-image-text {
    .catalog__wrapper {
      display: flex;
      flex-wrap: wrap;
      margin: 0 -15px 20px;
    }

    .catalog__item {
      width: calc(33.3333% - 30px);
      margin: 0 15px 20px;

      @media (max-width: $bpMobile) {
        width: calc(50% - 30px);
      }

      @media (max-width: 360px) {
        width: calc(100% - 30px);
      }

      .item {

        &__image {
          margin-bottom: 20px;

          .image-wrapper {
            padding-top: 61%;
            position: relative;
            background: #fff;
            border-radius: 8px;
            overflow: hidden;
          }

          .image {
            position: absolute;
            height: 100%;
            min-width: 100%;
            max-width: 10000%;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            transition: .2s;
          }
        }

        &__content {
          .text {
            font-size: 19px;
            line-height: 1.6;
            transition: .2s;

            @media (max-width: $bpMobile) {
              font-size: 17px;
            }
            @media (max-width: $bpPhone) {
              font-size: 14px;
            }
          }
        }
      }

      &:hover {
        .item__image {
          .image {
            transform: translate(-50%, -50%) scale(1.1);
          }
        }

        .item__content {
          .text {
            color: $primaryColor;
          }
        }
      }
    }
  }
}

.type-university-search .catalog {
  &.catalog-main {
    .catalog__item {
      .col-control {
        .item__list {
          width: 100%;
        }

        .item__control-wrapper {
          @media (max-width: $bpPhone) {
            display: none;
          }
        }
      }
    }
  }
}