.commercial-block {

  .commercial {
    &__wrapper {
      margin: 0 -25px -35px;
      display: flex;
      flex-wrap: wrap;

      @media (max-width: $bpTablet) {
        margin: 0 -15px -25px;
      }

      @media (max-width: $bpMobile) {
        margin: 0;
      }
    }

    &__item {
      margin: 0 25px 35px;
      width: calc(100% - 50px);

      .item {

        &__title {
          margin-bottom: 16px;

          .text {
            font-weight: 700;
          }

          &:last-child {
            margin-bottom: 0;
          }
        }

        &__graph {
          display: flex;
          align-items: center;
          margin-bottom: 5px;

          &:last-child {
            margin-bottom: 0;
          }

          .caption {
            width: 90px;
            flex: 0 0 auto;
          }

          .count {
            width: calc(100% - 90px);
            display: flex;
            align-items: center;
            position: relative;

            .line {
              height: 34px;
              border-radius: 8px;
              min-width: 1%;
              position: relative;
            }

            .percent {
              flex: 0 0 auto;
              position: absolute;
              top: 50%;
              right: 0;
              transform: translate(calc(100% + 14px), -50%);
              white-space: nowrap;

              &:after {
                content: ' %';
              }
            }

            .value {
              flex: 0 0 auto;
              position: absolute;
              top: 50%;
              right: 0;
              transform: translate(calc(100% + 14px), -50%);
              white-space: nowrap;
            }
          }

          &-wrapper {
            &.wrapper-percent {
              .item__graph {
                .count {
                  padding-right: 46px;
                }
              }
            }

            &.wrapper-value {
              .item__graph {
                .count {
                  padding-right: 75px;
                }
              }
            }
          }

          &:nth-child(1) {
            .count {
              .line {
                background: $starYellowColor;
              }
            }
          }
          &:nth-child(2) {
            .count {
              .line {
                background: $blueColor;
              }
            }
          }
          &:nth-child(3) {
            .count {
              .line {
                background: $greenColor;
              }
            }
          }
          &:nth-child(4) {
            .count {
              .line {
                background: $violetColor;
              }
            }
          }
          &:nth-child(5) {
            .count {
              .line {
                background: $redColor;
              }
            }
          }
        }

        &-max-line {
          margin-left: 90px;
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin-top: 20px;
          border-top: 1px #C0C9D0 solid;
          padding-top: 12px;

          .count {
            color: #7E8493;
          }
        }
      }

      @media (max-width: $bpTablet) {
        margin: 0 15px 25px;
        width: calc(50% - 30px);
      }

      @media (max-width: $bpMobile) {
        margin: 0 0 25px;
        width: 100%;

        &:last-child {
          margin-bottom: 0;
        }
      }

      @media (max-width: $bpPhone) {
        margin-bottom: 15px;
      }
    }
  }

  .page-advertising & {
    .commercial__item {
      width: calc(50% - 50px);

      @media (max-width: $bpMobile) {
        width: 100%
      }
    }
  }
}