.content {
  width: calc(100% - 440px);
  margin: 0 35px;

  @media (max-width: $bpLaptop) {
    margin: 0 15px;
    width: calc(100% - 360px);
  }

  @media (max-width: $bpTablet) {
    margin: 0;
    width: 100%;
    order: 3;
  }

  &-fluid {
    width: calc(100% - 70px);
    margin: 0 35px;

    @media (max-width: $bpLaptop) {
      margin: 0 15px;
      width: calc(100% - 30px);
    }
    @media (max-width: $bpTablet) {
      margin: 0;
      width: 100%;
      order: 3;
    }
  }
}