.form {

  &.form-services {

    &:last-child {
      margin-bottom: 0;
    }

    .form {
      &__wrapper {
        display: flex;
        margin: 0 -8px;
      }

      &__item {
        flex: 1 1 auto;
      }

      &__button {
        flex: 0 0 auto;
      }

      &__item, &__button {
        margin: 0 8px;
      }
    }

    .input__field {
      margin: 0 6px;
      flex: 1 1 auto;

      &-wrapper {
        display: flex;
        margin: 0 -6px;
      }
    }
  }

  &.form-header-search {
    .input__field {
      position: relative;
    }

    .input-search {
      width: 560px;
      max-width: 100%;
      height: 55px;
      background: #EBF4FE;
      border-radius: 8px;
      border: none;
      outline: none;
      padding: 0 50px;
      transition: .2s;
      appearance: none;

      &[type="search"]::-webkit-search-decoration,
      &[type="search"]::-webkit-search-cancel-button,
      &[type="search"]::-webkit-search-results-button,
      &[type="search"]::-webkit-search-results-decoration {
        display: none;
      }

      &:hover, &:focus {
        box-shadow: 0 0 10px 0 rgba($primaryColor, .1);
      }
    }

    .button {
      position: absolute;
      top: 50%;
      left: 20px;
      transform: translateY(-50%);
      background: transparent;
      border: none;
      outline: none;
      padding: 0;
      z-index: 1;
      cursor: pointer;

      &:before {
        content: '\e909';
        font-family: 'icomoon';
        color: $primaryColor;
        font-size: 14px;
      }
    }
  }

  &.form-catalog-main {
    background: #3D95F5;
    border-radius: 8px;
    padding: 30px;

    .form__item {
      margin-bottom: 10px;

      &:after {
        content: '';
        display: table;
        clear: both;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }

    .input__field-wrapper {
      margin: 0 -5px -10px;
      display: flex;

      .input__field {
        margin: 0 5px 10px;
        width: calc(33.3333% - 10px);

        .input-text {
          width: 100%;
        }

        &.-full {
          width: calc(100% - 10px);
        }

        &.field-checkbox {
          width: calc(100% - 10px);
          flex: 1 1 auto;
          display: flex;
          align-items: center;
        }

        &.field-button {
          width: auto;

          .link {
            width: 117px;
          }
        }
      }
    }
  }
}