.form {

  &.form-header-search {
    .input__field {
      position: relative;
    }

    .input-search {
      width: 560px;
      max-width: 100%;
      height: 55px;
      background: #EBF4FE;
      border-radius: 8px;
      border: none;
      outline: none;
      padding: 0 50px;
      transition: .2s;
      appearance: none;

      &[type="search"]::-webkit-search-decoration,
      &[type="search"]::-webkit-search-cancel-button,
      &[type="search"]::-webkit-search-results-button,
      &[type="search"]::-webkit-search-results-decoration { display: none; }

      &:hover, &:focus {
        box-shadow: 0 0 10px 0 rgba($primaryColor, .1);
      }
    }

    .button {
      position: absolute;
      top: 50%;
      left: 20px;
      transform: translateY(-50%);
      background: transparent;
      border: none;
      outline: none;
      padding: 0;
      z-index: 1;
      cursor: pointer;

      &:before {
        content: '\e909';
        font-family: 'icomoon';
        color: $primaryColor;
        font-size: 14px;
      }
    }
  }
}