.form {

  &.form-give-review {
    .form__item {

      &:after {
        content: '';
        display: table;
        clear: both;
      }

      &.item-title, &.item-stars-rating {
        margin-bottom: 18px;

        &:last-child {
          margin-bottom: 0;
        }

        @media (max-width: $bpPhone) {
          margin-bottom: 12px;
        }
      }

      &.item-selector, &.item-tags {
        margin-bottom: 12px;

        &:last-child {
          margin-bottom: 0;
        }
      }

      &.item-button {
        margin-top: 25px;

        &:first-child {
          margin-top: 0;
        }

        @media (max-width: $bpPhone) {
          margin-top: 18px;
        }
      }

      &.item-stars-rating {

        .input__field {
          margin-bottom: 12px;

          &-inner {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 0 -5px -5px;
          }

          &:last-child {
            margin-bottom: 0;
          }

          .label, .list {
            margin: 0 5px 5px;
          }

          .label {
            color: #7E8493;

            @media (min-width: $bpMobile + 1) and ($bpTablet) {
              width: 100%;
            }

            @media (max-width: 380px) {
              width: 100%;
            }
          }
        }

        .list-rating-stars {

          .list__item {

            .icon {
              color: #EBEBFD;
              font-size: 18px;
              cursor: pointer;

              &.-active {
                color: $starYellowColor;
              }

              @media (max-width: $bpMobile) {
                font-size: 16px;
              }

              @media (max-width: $bpPhone) {
                font-size: 14px;
              }
            }

            &:last-child {
              margin-bottom: 0;
            }
          }
        }
      }

      &.item-textarea {
        .input-textarea-blue {
          height: 125px;
        }
      }

      &.item-button {
        .link {
          width: 100%;
        }
      }
    }

    .form {

      &__title {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .text {
          font-size: 18px;
        }

        .date {
          color: #7E8493;
        }
      }
    }
  }

  &.form-services {

    &:last-child {
      margin-bottom: 0;
    }

    .form {
      &__wrapper {
        display: flex;
        margin: 0 -8px -16px;

        @media (max-width: $bpMobile) {
          flex-wrap: wrap;
          justify-content: flex-end;
        }
      }

      &__item {
        flex: 1 1 auto;
      }

      &__button {
        flex: 0 0 auto;

        @media (max-width: $bpMobile) {
          width: calc(25% - 12px);
          .link {
            width: 100%;
          }
        }

        @media (max-width: $bpPhone) {
          width: calc(100% - 12px);
        }
      }

      &__item, &__button {
        margin: 0 8px 16px;
      }
    }

    .input__field {
      margin: 0 6px 16px;
      flex: 1 1 auto;

      @media (max-width: $bpMobile) {
        width: calc(50% - 12px);
      }

      @media (max-width: $bpPhone) {
        width: calc(100% - 12px);
      }

      &-wrapper {
        display: flex;
        margin: 0 -6px -16px;

        @media (max-width: $bpMobile) {
          flex-wrap: wrap;
        }
      }
    }
  }

  &.form-header-search {
    .input__field {
      position: relative;
    }

    .input-search {
      width: 100%;
      max-width: 560px;
      height: 55px;
      background: #EBF4FE;
      border-radius: 8px;
      border: none;
      outline: none;
      padding: 0 50px;
      transition: .2s;
      appearance: none;

      &[type="search"]::-webkit-search-decoration,
      &[type="search"]::-webkit-search-cancel-button,
      &[type="search"]::-webkit-search-results-button,
      &[type="search"]::-webkit-search-results-decoration {
        display: none;
      }

      &:hover {
        box-shadow: 0 0 10px 0 rgba($primaryColor, .1);
      }

      &:focus {
        box-shadow: 0 0 10px 0 rgba($primaryColor, .1);
        border: 1px rgba($primaryColor, .4) solid;
      }
    }

    .button {
      position: absolute;
      top: 50%;
      left: 20px;
      transform: translateY(-50%);
      background: transparent;
      border: none;
      outline: none;
      padding: 0;
      z-index: 1;
      cursor: pointer;

      &:before {
        content: '\e909';
        font-family: 'icomoon';
        color: $primaryColor;
        font-size: 14px;
      }
    }
  }

  &.form-catalog-main {
    background: #3D95F5;
    border-radius: 8px;
    padding: 30px;

    @media (max-width: $bpMobile) {
      padding: 25px;
    }

    @media (max-width: $bpPhone) {
      padding: 15px 20px;
    }

    .form__title {
      @media (min-width: $bpPhone + 1) {
        display: none;
      }

      display: flex;
      align-items: center;
      justify-content: space-between;
      color: #fff;
      cursor: pointer;

      .text {
        font-size: 13px;
        font-weight: 500;
      }

      .icon {
        font-size: 22px;
      }
    }

    .form__item {
      margin-bottom: 10px;

      &:after {
        content: '';
        display: table;
        clear: both;
      }

      &:last-child {
        margin-bottom: 0;
      }

      @media (max-width: 620px) {
        &.item-selector {
          margin-bottom: 16px;
        }
      }

      @media (max-width: $bpPhone) {
        &-wrapper {
          margin-top: 20px;
          display: none;
        }
      }
    }

    .input__field-wrapper {
      margin: 0 -5px -10px;
      display: flex;

      .input__field {
        margin: 0 5px 10px;
        width: calc(33.3333% - 10px);

        .input-text {
          width: 100%;
        }

        &.-full {
          width: calc(100% - 10px);
        }

        &.field-checkbox {
          width: calc(100% - 10px);
          flex: 1 1 auto;
          display: flex;
          align-items: center;
        }

        &.field-button {
          width: auto;

          .link {
            width: 117px;
          }
        }
      }

      @media (max-width: 620px) {
        flex-wrap: wrap;

        .input__field {
          width: calc(100% - 10px);

          &.field-button {
            width: calc(100% - 10px);

            .link {
              width: 100%;
            }
          }

          &.field-checkbox {
            margin-bottom: 16px;
            flex-wrap: wrap;

            .input__box {
              width: 100%;
              padding-left: 0;
              margin-bottom: 10px;

              &:last-child {
                margin-bottom: 0;
              }
            }

          }
        }
      }
    }
  }
}