.input {

  &.input-white {
    height: 42px;
    background: #FFFFFF;
    border-radius: 8px;
    padding: 0 20px;
    font-size: 13px;
    border: none;
    outline: none;

    &::placeholder {
      color: #22293C;
    }
  }

  &__box {
    &.box-checkbox-white {
      flex: 1 1 auto;
      padding-right: 10px;
      display: flex;
      align-items: center;

      &:last-child {
        padding-right: 0;
      }

      .input-checkbox {
        opacity: 0;
        visibility: hidden;
        position: absolute;
        z-index: -999;

        &:checked + .label {
          &:after {
            display: block;
          }
        }
      }

      .label {
        font-size: 13px;
        font-weight: 500;
        color: #fff;
        display: flex;
        align-items: center;
        cursor: pointer;
        position: relative;
        user-select: none;

        &:before {
          content: '';
          width: 26px;
          height: 26px;
          background: #fff;
          border-radius: 5px;
          margin-right: 16px;
          flex: 0 0 auto;
        }

        &:after {
          content: '\e904';
          font-family: 'icomoon';
          position: absolute;
          top: 50%;
          font-size: 12px;
          left: 7px;
          transform: translateY(-50%);
          color: $primaryColor;
          display: none;
        }
      }
    }
  }
}

