.link {
  cursor: pointer;
  transition: .2s;

  &.link-promo {
    display: inline-flex;
    background: #22293C;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
    height: 42px;
    padding: 5px 24px;
    color: #fff;

    .text, .icon {
      margin: 0 10px;
      transition: .2s;
    }

    .icon {
      font-size: 12px;
    }

    &:hover {
      background: #363E5B;
    }

    &:active {
      background: #171D28;
    }

    @media (max-width: $bpPhone) {
      padding: 5px 12px;

      .text, .icon {
        margin: 0 5px;
      }
    }
  }

  &.link-text-default {
    color: $defaultColor;

    &:hover {
      color: $primaryColor;
    }

    &:active {
      color: $primaryColorActive;
    }
  }

  &.link-white-border {
    display: inline-flex;
    color: #fff;
    border: 1px #fff solid;
    border-radius: 8px;
    height: 42px;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    background: transparent;
    font-size: 13px;
    font-weight: 500;

    &:hover {
      background: #fff;
      color: $primaryColor;
    }

    &:active {
      background: #f2f4f6;
      border: 1px #f2f4f6 solid;
      color: $primaryColor;
    }
  }

  &.link-primary-border {
    display: inline-flex;
    padding: 10px 20px;
    justify-content: center;
    align-items: center;
    color: $primaryColor;
    border: 1px $primaryColor solid;
    border-radius: 6px;
    min-height: 50px;

    &:hover {
      background: $primaryColor;
      color: #fff;
    }
  }

  &.link-primary {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    background: $primaryColor;
    box-shadow: $primaryBoxShadow;
    border-radius: 10px;
    color: #fff;
  }
  
  &.link-text-primary {
    color: $primaryColor;
    
    &:hover {
      color: $primaryColorHover;
    }

    &:active {
      color: $primaryColorActive;
    }
  }

  &.link-icon-text-primary {
    display: inline-flex;
    color: $primaryColor;
    margin: 0 -4px;

    .icon {
      color: $primaryColor;
      margin: 0 4px;
    }

    .text {
      margin: 0 4px;
    }

    &:hover {
      color: $primaryColorHover;

      .icon {
        color: $primaryColorHover;
      }
    }

    &:active {
      color: $primaryColorActive;

      .icon {
        color: $primaryColorActive;
      }
    }
  }
}