.link {
  cursor: pointer;
  outline: none;
  border: none;
  transition: .2s;

  &.link-text-white {
    display: inline-flex;
    align-items: center;
    color: #fff;
    margin: 0 -4px;

    .text, .icon {
      margin: 0 4px;
      transition: .2s;
    }

    .icon {
      font-size: 10px;
    }
  }

  &.link-promo {
    display: inline-flex;
    background: #22293C;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
    height: 42px;
    padding: 5px 24px;
    color: #fff;

    .text, .icon {
      margin: 0 10px;
      transition: .2s;
    }

    .icon {
      font-size: 12px;
    }

    &:hover {
      background: #363E5B;
    }

    &:active {
      background: #171D28;
    }

    @media (max-width: $bpPhone) {
      padding: 5px 12px;

      .text, .icon {
        margin: 0 5px;
      }
    }
  }

  &.link-text-default {
    color: $defaultColor;

    &:hover {
      color: $primaryColor;
    }

    &:active {
      color: $primaryColorActive;
    }
  }

  &.link-white-border {
    display: inline-flex;
    color: #fff;
    border: 1px #fff solid;
    border-radius: 8px;
    height: 42px;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    background: transparent;
    font-size: 13px;
    font-weight: 500;

    &:hover {
      background: #fff;
      color: $primaryColor;
    }

    &:active {
      background: #f2f4f6;
      border: 1px #f2f4f6 solid;
      color: $primaryColor;
    }
  }

  &.link-primary-border {
    display: inline-flex;
    padding: 10px 20px;
    justify-content: center;
    align-items: center;
    color: $primaryColor;
    border: 1px $primaryColor solid;
    border-radius: 6px;
    min-height: 50px;
    background: transparent;

    &:hover {
      background: $primaryColor;
      color: #fff;
    }
  }

  &.link-primary {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    background: $primaryColor;
    box-shadow: $primaryBoxShadow;
    border-radius: 10px;
    color: #fff;
    height: 42px;

    &:hover {
      background: #176DDC;
    }

    .text-block {
      display: flex;
      margin: 0 -5px;
      align-items: center;

      .text {
        margin: 0 5px;
      }
      .icon {
        margin: 0 5px;
      }
    }

    @media (max-width: $bpPhone) {
      box-shadow: 0 5px 10px rgba(61, 150, 251, 0.2);
    }
  }

  &.link-white {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    height: 42px;
    background: #FFFFFF;
    box-shadow: 0 15px 20px rgba(218, 218, 241, 0.25);
    border-radius: 8px;

    &:hover {
      background: $primaryColor;
      color: #fff;
    }

    .text-block {
      display: flex;
      margin: 0 -5px;
      align-items: center;

      .text {
        line-height: 1;
        margin: 0 5px;
      }
      .icon {
        color: #8294A1;
        margin: 0 5px;
      }
    }
  }
  
  &.link-text-primary {
    color: $primaryColor;
    display: inline-flex;
    align-items: center;


    .text-block {
      margin: 0 -5px;
      display: inline-flex;
      align-items: center;
      flex-direction: row;

      .text {
        margin: 0 5px;
      }
      .icon {
        margin: 0 5px;
      }
    }

    .icon {
      font-size: 10px;
      transition: .2s;
      color: $primaryColor;
      line-height: 1;
    }
    
    &:hover {
      color: $primaryColorHover;
    }

    &:active {
      color: $primaryColorActive;
    }
  }

  &.link-icon-text-primary {
    display: inline-flex;
    color: $primaryColor;
    margin: 0 -4px;

    .icon {
      color: $primaryColor;
      margin: 0 4px;
    }

    .text {
      margin: 0 4px;
    }

    &:hover {
      color: $primaryColorHover;

      .icon {
        color: $primaryColorHover;
      }
    }

    &:active {
      color: $primaryColorActive;

      .icon {
        color: $primaryColorActive;
      }
    }
  }
}