.list {

  &.list-lessons {
    display: inline-flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 0 -15px -10px;

    .list__item {
      display: flex;
      align-items: center;
      margin: 0 15px 10px;

      .icon {
        font-size: 22px;
        margin-right: 9px;
      }
    }

    @media (max-width: $bpPhone) {
      width: 100%;
    }
  }

  &.list-schedule {
    .list__item {
      padding: 20px 0;
      border-bottom: 1px solid rgba(192, 201, 208, 0.5);

      &:first-child {
        padding-top: 0;
      }

      &:last-child {
        padding-bottom: 0;
        border-bottom: none;
      }

      .item__wrapper {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        margin: 0 -10px -10px;
      }

      .item {
        margin: 0 10px 10px;

        &.item-date {
          font-weight: 700;
          color: $primaryColor;
        }

        &.item-weekday {
          font-size: 12px;
          color: #8294A2;
        }

        &.item-list {
          @media (max-width: $bpPhone) {
            width: 100%;
          }
        }
      }

      .list__item {
        padding: 0;
        border-bottom: none;
      }
    }

    .list-schedule-block & {
      .list__item {
        display: none;

        .list.list-lessons {
          .list__item {
            display: flex;
          }
        }
      }
    }

    & + .list__button {
      display: none;
      margin-top: 25px;

      .link {
        .text {
          font-weight: 500;
          color: $primaryColor;
        }

        .icon {
          color: $primaryColor;
          font-size: 10px;
          transition: .2s;
        }

        &.-active {
          .icon {
            transform: rotate(180deg);
          }
        }
      }
    }
  }

  &.list-account-menu {
    .list__item {
      margin-top: 10px;

      &:first-child {
        margin-top: 0;
      }

      &.-active {
        .list__item-link {
          color: #fff;
          background: $primaryColor;
        }
      }

      @media (max-width: $bpTablet) {
        &:not(.-active) {
          display: none;
        }
      }
    }

    .list__item-link {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 60px;
      border-radius: 8px;
      background: #fff;

      .text {
        padding: 0 25px;
      }

      .icon {
        font-size: 12px;
        display: none;
        padding: 0 25px;
        height: 100%;
        cursor: pointer;
      }

      &:hover {
        color: #fff;
        background: $primaryColor;
      }

      @media (max-width: $bpTablet) {
        height: 50px;
        .icon {
          display: flex;
          justify-content: center;
          align-items: center;
          transition: .2s;

          &.-active {
            transform: rotate(180deg);
          }
        }
      }

      @media (max-width: $bpPhone) {
        .icon {
          padding: 0 15px;
        }

        .text {
          padding: 0 15px;
        }
      }

      @media (max-width: $bpMobile) {
        height: 45px;
      }

      @media (max-width: $bpPhone) {
        height: 40px;

        .list__item-link {
          .icon {
            font-size: 10px;
          }
        }
      }
    }
  }

  &.list-sitemap {
    column-count: 2;

    @media (max-width: 660px) {
      column-count: 1;
    }

    .list__item {
      margin-bottom: 26px;

      &:last-child {
        margin-bottom: 0;
      }

      .list__item-link {
        font-weight: 700;
        font-size: 18px;

        &:hover {
          color: $primaryColor;
        }
      }

      .list {
        margin-top: 26px;

        .list__item {
          margin-bottom: 18px;

          &:last-child {
            margin-bottom: 0;
          }
        }

        .list__item-link {
          font-weight: 400;
          font-size: 14px;
        }
      }
    }
  }

  &.list-terms {
    counter-reset: li;

    .list__item {
      margin-bottom: 26px;

      .link {
        word-wrap: break-word;
        display: inline;
      }

      &:last-child {
        margin-bottom: 0;
      }

      .text {
        font-weight: 700;
        font-size: 18px;

        &:before {
          counter-increment: li;
          content: counters(li, ".") ". ";
        }
      }

      .list {
        margin-top: 26px;
        counter-reset: li;

        .list__item {
          margin-bottom: 26px;

          &:last-child {
            margin-bottom: 0;
          }

          .text {
            font-weight: 400;
            font-size: 15px;

            &:before {
              font-weight: 600;
            }
          }
        }
      }
    }
  }

  &.list-checked {
    display: inline-flex;
    flex-wrap: wrap;
    margin: 0 -30px -15px;

    .list__item {
      margin: 0 30px 15px;
      display: flex;

      &:before {
        content: '\e904';
        font-family: 'icomoon';
        font-size: 10px;
        color: $primaryColor;
        margin-right: 15px;
        line-height: 16px;
      }

      .caption {
        color: #8294A1;
      }
    }
  }

  &.list-big-count-display {
    display: flex;
    margin: 0 -8px -16px;

    .list__item {
      margin: 0 8px 16px;

      .count {
        display: block;
        margin-bottom: 12px;
        color: $primaryColor;
        font-size: 30px;
        font-weight: 700;
        line-height: 1.1;

        small {
          font-size: 15px;
        }
      }

      .text {
        line-height: 1.8;
      }
    }

    @media (max-width: $bpMobile) {
      flex-wrap: wrap;
      margin: 0 -16px -24px;

      .list__item {
        width: calc(50% - 16px);
        margin: 0 16px 24px;

        .count {
          margin-bottom: 6px;
        }
      }
    }

    @media (max-width: 600px) {
      margin: 0 0 -24px;
      .list__item {
        width: calc(100% - 16px);
        margin: 0 0 24px;
      }
    }
  }

  &.list-count-stars {
    .list__item {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 12px;

      &:last-child {
        margin-bottom: 0;
      }

      .stars {
        flex: 0 0 auto;
        display: flex;

        .icon {
          margin-right: 5px;
          color: $starYellowColor;

          &:last-child {
            margin-right: 0;
          }

          &.-gray {
            color: #EBEBFD;
          }
        }
      }

      .count {
        color: #7E8493;
        line-height: 1.4;
      }
    }
  }

  &.list-dotted-primary {
    .list__item {
      margin-bottom: 16px;
      margin-left: 12px;
      display: flex;
      line-height: 1.8;

      &:before {
        content: '';
        width: 5px;
        height: 5px;
        border-radius: 50%;
        background: $primaryColor;
        margin-right: 15px;
        flex: 0 0 auto;
        transform: translateY(10px);
      }

      &:last-child {
        margin-bottom: 0;
      }

      .caption {
        margin-left: 5px;
        color: $grayColor;

        .count {
          font-weight: 600;
        }
      }

      @media (max-width: $bpMobile) {
        margin-left: 6px;
      }

      @media (max-width: $bpPhone) {
        margin-left: 0;
        margin-bottom: 10px;
      }
    }
  }

  &.list-text-count-grid {
    display: grid;
    grid-template-columns: 1fr;

    .list__item {
      margin-bottom: 13px;

      .text-grid {
        display: grid;
        grid-template-rows: 1fr;
        line-height: 1.6;
      }

      @media (max-width: $bpPhone) {
        margin-bottom: 10px;
      }

      @media (max-width: 360px) {
        font-size: 13px;
      }

      &.-align-center {
        align-items: center;
      }

      &.-align-end {
        align-items: flex-end;
      }

      &:last-child {
        margin-bottom: 0;
      }

      .text {
        color: #7E8493;

        b {
          font-weight: 500;
        }
      }

      &.date-info {
        margin-bottom: 24px;

        @media (max-width: $bpPhone) {
          margin-bottom: 10px;
        }
      }

      .date {
        .date-count {
          font-size: 24px;
          font-weight: 600;
          line-height: 1;

          @media (max-width: $bpTablet) {
            font-size: 21px;
          }
          @media (max-width: $bpMobile) {
            font-size: 18px;
          }
          @media (max-width: $bpPhone) {
            font-size: 16px;
          }
        }
      }

      .count {
        font-weight: 500;
      }

      .icon {
        font-size: 10px;

        &.icon-close {
          color: #8294A1;
        }

        &.icon-check {
          color: #44CB5A;
        }
      }
    }
  }

  &.list-count-text-grid {
    display: grid;
    grid-template-columns: 1fr;

    .list__item {
      margin-bottom: 13px;

      .text-grid {
        display: grid;
        grid-template-rows: 1fr;
        line-height: 1.6;
      }

      &:last-child {
        margin-bottom: 0;
      }

      .text {
        color: #7E8493;
        flex: 1 1 auto;
      }

      .count {
        font-weight: 500;
      }

      .icon {
        font-size: 10px;

        &.icon-close {
          color: #8294A1;
        }

        &.icon-check {
          color: #44CB5A;
        }
      }
    }
  }

  &.list-tags-close {
    display: inline-flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 0 -2.5px -10px;

    .list__item {
      display: flex;
      margin: 0 2.5px 10px;
      background: #EBF4FE;
      box-shadow: 0 15px 20px rgba(218, 218, 241, 0.15);
      border-radius: 8px;

      .text {
        font-size: 12px;
        color: #7E8493;
        padding: 8px 0 8px 12px;
      }

      .icon {
        color: #C0C9D0;
        font-size: 10px;
        line-height: 1;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 8px 12px;
      }

      &.item-clear {
        background: transparent;
        margin-left: 18px;

        .link {
          font-size: 12px;
        }
      }
    }
  }

  &.list-tags {
    display: inline-flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    margin: 0 -2.5px -10px;

    &.-center {
      justify-content: center;

      @media (max-width: $bpPhone) {
        justify-content: flex-start;
      }
    }

    .list__item {
      display: flex;
      margin: 0 2.5px 10px;
      background: #EBF4FE;
      box-shadow: 0 15px 20px rgba(218, 218, 241, 0.15);
      border-radius: 8px;

      &.-hidden-item {
        display: none;
      }

      .text {
        font-size: 12px;
        color: $grayColor;
        padding: 10px 18px;
        display: block;
      }

      &.item-more {
        cursor: pointer;

        .text {
          padding: 10px 0 10px 18px;
          color: $primaryColor;
          font-weight: 500;
        }

        .icon {
          color: $primaryColor;
          font-size: 10px;
          line-height: 1;
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 10px 18px;
          transition: .2s;
        }

        &.-opened {
          .icon {
            transform: rotate(180deg);
          }
        }
      }
    }
  }

  &.list-tags-white {
    display: inline-flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    margin: 0 -2.5px -10px;

    &.-center {
      justify-content: center;

      @media (max-width: $bpPhone) {
        justify-content: flex-start;
      }
    }

    .list__item {
      display: flex;
      margin: 0 2.5px 10px;
      background: #FFFFFF;
      box-shadow: 0 15px 20px rgba(218, 218, 241, 0.25);
      border-radius: 8px;
      transition: .2s;

      &.-hidden-item {
        display: none;
      }

      &.-active, &:hover {
        background: #EBF4FE;
        color: $primaryColor;
      }

      .text {
        font-size: 12px;
        padding: 10px 18px;
        display: block;
      }

      &.item-more {
        cursor: pointer;

        .text {
          padding: 10px 0 10px 18px;
          color: $primaryColor;
          font-weight: 500;
        }

        .icon {
          color: $primaryColor;
          font-size: 10px;
          line-height: 1;
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 10px 18px;
          transition: .2s;
        }

        &.-opened {
          .icon {
            transform: rotate(180deg);
          }
        }
      }
    }
  }

  &.list-tags-primary {
    display: inline-flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    margin: 0 -2.5px -10px;

    &.-center {
      justify-content: center;

      @media (max-width: $bpPhone) {
        justify-content: flex-start;
      }
    }

    .list__item {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 2.5px 10px;
      background: $primaryColor;
      border-radius: 8px;
      transition: .2s;
      min-height: 24px;
      padding: 0 10px;

      &.-hidden-item {
        display: none;
      }

      &.-active {
        background: #EBF4FE;
        color: $primaryColor;
      }

      .text {
        font-size: 12px;
        display: block;
        color: #fff;
        flex: 0 0 auto;
      }

      &.item-more {
        cursor: pointer;

        .text {
          padding: 10px 0 10px 18px;
          color: $primaryColor;
          font-weight: 500;
        }

        .icon {
          color: $primaryColor;
          font-size: 10px;
          line-height: 1;
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 10px 18px;
          transition: .2s;
        }

        &.-opened {
          .icon {
            transform: rotate(180deg);
          }
        }
      }
    }
  }

  &.list-control-tags {
    display: inline-flex;
    flex-wrap: wrap;
    margin: 0 -5px -8px;

    .list__item {
      margin: 0 5px 8px;

      .text {
        background: #FFFFFF;
        box-shadow: 0 15px 20px rgba(218, 218, 241, 0.25);
        border-radius: 8px;
        padding: 10px 25px;
        min-width: 121px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 42px;

        @media (max-width: $bpPhone) {
          height: auto;
          padding: 0;
          box-shadow: none;
          background: transparent;
          min-width: auto;
        }
      }
    }
  }

  &.list-quiz {
    .list__item {
      margin-bottom: 7px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 8px 15px;
      background: #F5FAFF;
      border-radius: 5px;
      cursor: pointer;
      border: 1px #F5FAFF solid;
      transition: .2s;

      &:not(.-disabled):hover {
        border: 1px $primaryColor solid;
        background: #FFFEFD;
      }

      &:last-child {
        margin-bottom: 0;
      }

      .text {
        line-height: 1.4;
        color: #22293C;
        margin-right: 7px;
      }

      .icon {
        font-size: 12px;

        &:before {
          font-family: 'icomoon';
        }
      }

      &.item-true {
        background: rgba(68, 203, 90, 0.1);

        .text {
          color: $greenColor;
        }

        .icon {
          &:before {
            content: '\e904';
            color: $greenColor;
          }
        }
      }

      &.item-false {
        background: rgba(255, 42, 62, 0.05);

        .text {
          color: $redColor;
        }

        .icon {
          color: $redColor;

          &:before {
            content: '\e905';
          }
        }
      }
    }
  }

  &.list-rating-stars {
    display: inline-flex;

    .list__item {
      margin-right: 5px;
      display: flex;

      &:last-child {
        margin-right: 0;
      }

      .icon {
        font-size: 14px;
        color: #EBEBFD;
      }

      &.-active {
        .icon {
          color: $starYellowColor;
        }
      }
    }
  }

  &.list-media-icons-border {
    display: inline-flex;
    margin: 0 -5px -10px;

    .list__item {
      margin: 0 5px 10px;
    }

    .list__item-link {
      height: 42px;
      box-shadow: 0 15px 20px rgba(218, 218, 241, 0.25);
      border-radius: 8px;
      display: flex;
      align-items: center;
      padding: 12px 6px;
      transition: .2s;

      .icon {
        padding: 0 6px;
        font-size: 18px;
        color: #C0C9D0;
        transition: .2s;
      }

      .text {
        padding: 0 6px;
        transition: .2s;
      }

      &:hover {
        background: $primaryColor;

        .icon {
          color: rgba(255, 255, 255, .5);
          color: #fff;
        }

        .text {
          color: #fff;
        }
      }
    }
  }

  &.list-media-icons {
    display: inline-flex;

    .list__item {
      margin-right: 10px;

      &:last-child {
        margin-right: 0;
      }
    }

    .list__item-link {
      .icon {
        width: 38px;
        height: 38px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 4px;
        color: #fff;
        font-size: 18px;
        transition: .2s;

        &.icon-vk {
          background: #33588C;
        }

        &.icon-twitter {
          background: #00ACEE;
        }

        &.icon-facebook {
          background: #3B5997;
        }

        &.icon-global, &.icon-vk-border, &.icon-instagram-border {
          color: #C0C9D0;
        }
      }

      &:hover {
        .icon {
          transform: translateY(-3px);
        }
      }
    }
  }
}