.list {

  &.list-big-count-display {
    display: flex;
    margin: 0 -8px -16px;

    .list__item {
      margin: 0 8px 16px;

      .count {
        display: block;
        margin-bottom: 12px;
        color: $primaryColor;
        font-size: 30px;
        font-weight: 700;
        line-height: 1.1;

        small {
          font-size: 15px;
        }
      }

      .text {
        line-height: 1.8;
      }
    }
  }

  &.list-count-stars {
    .list__item {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 12px;

      &:last-child {
        margin-bottom: 0;
      }

      .stars {
        flex: 0 0 auto;
        display: flex;

        .icon {
          margin-right: 5px;
          color: $starYellowColor;

          &:last-child {
            margin-right: 0;
          }

          &.-gray {
            color: #EBEBFD;
          }
        }
      }

      .count {
        color: #7E8493;
        line-height: 1.4;
      }
    }
  }

  &.list-dotted-primary {
    .list__item {
      margin-bottom: 16px;
      margin-left: 12px;
      display: flex;

      &:before {
        content: '';
        width: 5px;
        height: 5px;
        border-radius: 50%;
        background: $primaryColor;
        margin-right: 15px;
        flex: 0 0 auto;
        transform: translateY(10px);
      }

      &:last-child {
        margin-bottom: 0;
      }

      .text {
        line-height: 1.8;
      }

      @media (max-width: $bpMobile) {
        margin-left: 6px;
      }

      @media (max-width: $bpPhone) {
        margin-left: 0;
      }
    }
  }

  &.list-text-count {
    .list__item {
      margin-bottom: 13px;
      display: flex;

      &:last-child {
        margin-bottom: 0;
      }

      .text {
        color: #7E8493;
        flex: 1 1 auto;
        padding-right: 10px;
      }

      .count {
        font-weight: 600;
        width: 45px;
      }

      .icon {
        font-size: 10px;

        &.icon-close {
          color: #8294A1;
        }

        &.icon-check {
          color: #44CB5A;
        }
      }
    }
  }

  &.list-tags-close {
    display: inline-flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 0 -2.5px -10px;

    .list__item {
      display: flex;
      margin: 0 2.5px 10px;
      background: #EBF4FE;
      box-shadow: 0 15px 20px rgba(218, 218, 241, 0.15);
      border-radius: 8px;

      .text {
        font-size: 12px;
        color: #7E8493;
        padding: 8px 0 8px 12px;
      }

      .icon {
        color: #C0C9D0;
        font-size: 10px;
        line-height: 1;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 8px 12px;
      }

      &.item-clear {
        background: transparent;
        margin-left: 18px;

        .link {
          font-size: 12px;
        }
      }
    }
  }

  &.list-tags {
    display: inline-flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    margin: 0 -2.5px -10px;

    &.-center {
      justify-content: center;
    }

    .list__item {
      display: flex;
      margin: 0 2.5px 10px;
      background: #EBF4FE;
      box-shadow: 0 15px 20px rgba(218, 218, 241, 0.15);
      border-radius: 8px;

      .text {
        font-size: 12px;
        color: $grayColor;
        padding: 10px 18px;
      }

      &.item-more {
        .text {
          padding: 10px 0 10px 18px;
          color: $primaryColor;
          font-weight: 500;
        }

        .icon {
          color: $primaryColor;
          font-size: 10px;
          line-height: 1;
          cursor: pointer;
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 10px 18px;
        }
      }
    }
  }

  &.list-quiz {
    .list__item {
      margin-bottom: 7px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 8px 15px;
      background: #F5FAFF;
      border-radius: 5px;
      cursor: pointer;

      &:last-child {
        margin-bottom: 0;
      }

      .text {
        line-height: 1.4;
        color: #22293C;
        margin-right: 7px;
      }

      .icon {
        font-size: 12px;

        &:before {
          font-family: 'icomoon';
        }
      }

      &.item-true {
        background: rgba(68, 203, 90, 0.1);

        .text {
          color: #44CB5A;
        }

        .icon {
          &:before {
            content: '\e904';
            color: #44CB5A;
          }
        }
      }

      &.item-false {
        background: rgba(255, 42, 62, 0.05);

        .text {
          color: #FF5464;
        }

        .icon {
          color: #FF5464;
          &:before {
            content: '\e905';
          }
        }
      }
    }
  }

  &.list-rating-stars {
    display: inline-flex;

    .list__item {
      margin-right: 5px;

      &:last-child {
        margin-right: 0;
      }

      .icon {
        font-size: 14px;
        color: $starYellowColor;

        &.-gray {
          color: #EBEBFD;
        }
      }
    }
  }

  &.list-media-icons-border {
    display: inline-flex;
    margin: 0 -5px -10px;

    .list__item {
      margin: 0 5px 10px;
    }

    .list__item-link {
      height: 42px;
      box-shadow: 0 15px 20px rgba(218, 218, 241, 0.25);
      border-radius: 8px;
      display: flex;
      align-items: center;
      padding: 12px 6px;
      transition: .2s;

      .icon {
        padding: 0 6px;
        font-size: 18px;
        color: #C0C9D0;
        transition: .2s;
      }

      .text {
        padding: 0 6px;
        transition: .2s;
      }

      &:hover {
        background: $primaryColor;

        .icon {
          color: rgba(255,255,255,.5);
        }

        .text {
          color: #fff;
        }
      }
    }
  }

  &.list-media-icons {
    display: inline-flex;

    .list__item {
      margin-right: 10px;

      &:last-child {
        margin-right: 0;
      }
    }

    .list__item-link {
      .icon {
        width: 38px;
        height: 38px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 4px;
        color: #fff;
        font-size: 18px;
        transition: .2s;

        &.icon-vk {
          background: #33588C;
        }

        &.icon-twitter {
          background: #00ACEE;
        }

        &.icon-facebook {
          background: #3B5997;
        }

        &.icon-global, &.icon-vk-border, &.icon-instagram-border {
          color: #C0C9D0;
        }
      }

      &:hover {
        .icon {
          transform: translateY(-3px);
        }
      }
    }
  }
}