.recommend {

  &.recommend-special {

    @media (max-width: $bpTablet) {
      padding: 0 15px;
      position: relative;
      margin: 0 -25px;
    }

    .recommend {

      &__button {
        margin-top: 30px;
        display: none;

        .link {
          width: 100%;
          height: 50px;
        }
      }

      &__wrapper {
        margin: 0 -15px -30px;

        &:after {
          content: '';
          display: table;
          clear: both;
        }

        @media (min-width: $bpTablet + 1) {
          display: flex;
          flex-wrap: wrap;
        }

        @media (max-width: $bpTablet) {
          padding: 0 25px;
          margin: 0 -15px;

          .slick-list {
            overflow: visible;
          }
        }

        @media (max-width: $bpPhone) {
          margin: 0 -15px;
        }

        .slick-dots {
          display: flex;
          align-items: center;
          justify-content: center;
          margin: 0 auto -10px;
          max-width: calc(100% + 20px);
          flex-wrap: wrap;

          li {
            margin: 0 10px 10px;

            button {
              font-size: 0;
              width: 9px;
              height: 9px;
              border-radius: 50%;
              background: #DCECFF;
              display: block;
              border: none;
              outline: none;
              padding: 0;
              cursor: pointer;
            }

            &.slick-active {
              button {
                background: $primaryColor;
              }
            }
          }
        }
      }

      &__item {
        width: calc(25% - 30px);
        margin: 0 15px 30px;
        display: none;

        &.-hidden-item {
          display: none;
        }

        @media (max-width: $bpTablet) {
          display: block;
          width: 270px;
        }

        @media (max-width: $bpPhone) {
          margin: 0 15px 20px;
        }

        .item {
          &__inner {
            position: relative;
            padding-top: 170%;
            background-size: cover;
            background-position: center center;
            background-repeat: no-repeat;
            border-radius: 8px;
            overflow: hidden;

            &:before {
              content: '';
              position: absolute;
              width: 100%;
              height: 100%;
              top: 0;
              left: 0;
              background: linear-gradient(transparent 40%, #000 100%);
            }

            &:after {
              content: '';
              position: absolute;
              width: 100%;
              height: 100%;
              top: 0;
              left: 0;
              background: rgba(0, 0, 0, .2);
              border-radius: 8px;
            }

            @media (max-width: $bpMobile) {
              padding-top: 155%;
            }
            @media (max-width: $bpPhone) {
              padding-top: 140%;
            }
          }

          &__content {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            padding: 25px;
            display: flex;
            flex-direction: column;
            z-index: 1;
            color: #fff;
          }

          &__discount {
            flex: 1 1 auto;

            .text {
              background: #FFFFFF;
              border-radius: 10px;
              display: inline-block;
              color: $primaryColor;
              padding: 3px 10px;
            }
          }

          &__title {
            margin-bottom: 10px;

            &:last-child {
              margin-bottom: 0;
            }

            .text {
              font-size: 15px;
              line-height: 1.6;
              font-weight: 700;
            }
          }
        }
      }
    }

    &.account-special {
      .recommend__item {
        width: calc(33.3333% - 30px);
      }
    }
  }

  &.recommend-same {

    .recommend {
      &__wrapper {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -15px -15px;
      }

      &__item {
        width: calc(25% - 30px);
        margin: 0 15px 15px;
        background: #FFFFFF;
        box-shadow: 0 20px 25px rgba(218, 218, 241, 0.19);
        border-radius: 8px;
        padding: 30px;

        @media (max-width: $bpLaptop) {
          width: calc(33.3333% - 30px);
        }

        @media (max-width: $bpTablet) {
          width: calc(50% - 30px);
        }

        @media (max-width: $bpMobile) {
          padding: 25px;
        }

        @media (max-width: 660px) {
          width: calc(100% - 30px);
        }

        @media (max-width: $bpPhone) {
          padding: 10px 15px;
        }

        .item {
          margin: 0 5px 18px;
          width: calc(100% - 10px);

          &__wrapper {
            display: flex;
            flex-wrap: wrap;
            margin: 0 -5px -18px;
          }

          @media (max-width: $bpPhone) {
            margin: 0 5px 8px;

            &__wrapper {
              margin: 0 -5px -8px;
            }
          }

          &__logo {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            background: #FFFFFF;
            padding: 20px 0;
            box-shadow: 0 15px 20px rgba(218, 218, 241, 0.25);
            border-radius: 8px;
            order: 0;
            height: 110px;

            &:last-child {
              margin-bottom: 0;
            }

            .image {
              width: 100%;
              max-width: 124px;
              max-height: 100%;
            }

            @media (max-width: $bpMobile) {
              padding: 25px 0;
            }

            @media (max-width: $bpPhone) {
              width: calc(40% - 10px);
              order: 0;
              padding: 12px 18px;
            }
          }

          &__rating {
            order: 1;
            display: flex;

            &-wrapper {
              display: flex;
              align-items: center;
              margin: 0 -5px;
            }

            .list {
              margin: 0 5px;
            }

            .rating-count {
              margin: 0 5px;

              .count {
                font-weight: 600;
              }
            }

            @media (max-width: $bpPhone) {
              order: 3;
              width: calc(50% - 10px);

              .rating-count {
                display: none;
              }
            }
          }

          &__title {
            order: 2;

            .text {
              font-size: 21px;
              font-weight: 600;

              @media (max-width: $bpMobile) {
                font-size: 18px;
              }

              @media (max-width: $bpPhone) {
                font-size: 16px;
                font-weight: 500;
              }
            }

            @media (min-width: $bpPhone + 1) and (max-width: 660px) {
              width: calc(100% - 123px);
            }
          }

          &__list {
            order: 3;
            margin-top: 12px;
            @media (max-width: 660px) {
              order: 4;
            }

            @media (max-width: $bpPhone) {
              display: none;
            }

            .list-text-count-grid {
              .list__item {
                grid-template-columns: auto 45px;
              }
            }
          }

          &__price {
            order: 4;

            .count {
              font-size: 24px;
              font-weight: 600;
            }

            @media (max-width: $bpTablet) {
              .count {
                font-size: 20px;
              }
            }

            @media (max-width: $bpMobile) {
              .count {
                font-size: 18px;
              }
            }

            @media (max-width: 660px) {
              order: 3;
              width: 103px;
            }

            @media (max-width: $bpPhone) {
              width: calc(50% - 10px);
              font-size: 13px;
              text-align: right;

              .count {
                font-size: 14px;
              }
            }
          }

          &__date {
            order: 4;

            .count {
              font-size: 24px;
              font-weight: 600;
            }

            @media (max-width: $bpTablet) {
              .count {
                font-size: 20px;
              }
            }

            @media (max-width: $bpMobile) {
              .count {
                font-size: 18px;
              }
            }

            @media (max-width: 660px) {
              order: 3;
              width: 103px;
            }

            @media (max-width: $bpPhone) {
              width: calc(50% - 10px);
              font-size: 13px;
              text-align: right;

              .count {
                font-size: 14px;
              }
            }
          }

          &__media {
            order: 5;

            @media (max-width: 660px) {
              width: calc(50% - 10px);
            }

            @media (max-width: $bpPhone) {
              display: none;
            }

            .list-media-icons {
              .list__item-link {
                .icon {
                  width: 42px;
                  height: 42px;
                  background: #FFFFFF;
                  box-shadow: 0 15px 20px rgba(218, 218, 241, 0.25);
                  border-radius: 8px;
                  font-size: 20px;
                  transition: .2s;
                }

                &:hover {
                  .icon {
                    background: $primaryColor;
                    color: #fff;
                  }
                }
              }
            }
          }

          &__control {
            margin: 0 5px 10px;

            .link {
              height: 42px;
              display: flex;
              justify-content: center;
              align-items: center;
            }

            .icon {
              font-size: 16px;
              color: rgba(130, 148, 161, .5);
            }

            &.control-favorite {
              width: 42px;
              height: 42px;

              .link {
                background: #FFFFFF;
                box-shadow: 0 15px 20px rgba(218, 218, 241, 0.25);
                border-radius: 8px;

                .icon {
                  transition: .2s;
                }
              }

              &.-active, &:hover {
                .link {
                  background: #FFF4F5;
                }

                .icon {
                  color: rgba(255, 42, 62, 1);

                  &:before {
                    content: '\e913';
                  }
                }
              }
            }

            &.control-global {
              display: none;
              background: #FFFFFF;
              box-shadow: 0 15px 20px rgba(218, 218, 241, 0.25);
              border-radius: 8px;

              .link {
                padding: 0 9px;
              }

              .icon {
                transition: .2s;
                margin-right: 6px;
              }

              &:hover {
                background: $primaryColor;

                .icon, .text {
                  color: #fff;
                }
              }
            }

            &-wrapper {
              display: flex;
              margin: 0 -5px -10px;
            }

            &-box {
              order: 6;
            }

            @media (max-width: 660px) {
              &-box {
                width: calc(50% - 10px);
              }

              &-wrapper {
                justify-content: flex-end;
              }
            }

            @media (max-width: $bpPhone) {
              &-box {
                order: 1;
                width: calc(60% - 10px);
              }

              &.control-button {
                display: none;
              }

              &.control-global {
                display: block;

                .text {
                  font-size: 12px;
                }
              }
            }
          }
        }
      }
    }
  }
}