.section {

  &__title, &__nav, &__text, &__text .text, &__list, &__table, &__tags {
    margin-bottom: 16px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .section__item {
    margin-bottom: 34px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .section__title {
    margin-bottom: 26px;

    &:last-child {
      margin-bottom: 0;
    }

    @media (max-width: $bpPhone) {
      margin-bottom: 16px;
    }
    .text {
      font-weight: 700;
    }
  }

  .section__text {
    .text {
      font-size: 15px;
      line-height: 2;

      @media (max-width: $bpPhone) {
        font-size: 14px;
      }
    }
  }

  .section__table {
    @media (min-width: $bpPhone + 1) {
      overflow-x: auto;
    }
  }

  &.section-recommend {
    margin: 50px 0 40px;

    &:last-child {
      margin-bottom: 0;
    }

    .section__title {
      margin-bottom: 30px;
    }

    @media (max-width: $bpMobile) {
      margin:40px 0 30px;

      .section__title {
        margin-bottom: 20px;
      }
    }

    @media (max-width: $bpPhone) {
      margin: 30px 0;

      .section__title {
        margin-bottom: 15px;
      }
    }
  }

  &.section-recommend-olympiads {
    margin: 50px 0 40px;

    .recommend-same {
      .recommend__item {
        .item__list {
          .list-text-count-grid {
            .list__item {
              grid-template-columns: 95px auto;
            }
          }
        }
      }
    }

    &:last-child {
      margin-bottom: 0;
    }

    .section__title {
      margin-bottom: 30px;
    }

    @media (max-width: $bpMobile) {
      margin:40px 0 30px;

      .section__title {
        margin-bottom: 20px;
      }
    }

    @media (max-width: $bpPhone) {
      margin: 30px 0;

      .section__title {
        margin-bottom: 15px;
      }
    }
  }

  &.section-about {
    margin-bottom: 26px;

    &:last-child {
      margin-bottom: 0;
    }

    .section__wrapper {
      padding: 40px 50px 70px 50px;
      background: #FFFFFF;
      border-radius: 8px;
      margin-bottom: 30px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    .section__title {
      @media (min-width: $bpTablet + 1) {
        h2.h2 {
          font-size: 26px;
        }
      }
    }

    .section__item {
      .section__title {

        @media (min-width: $bpTablet + 1) {
          h3.h3 {
            font-size: 19px;
          }

          h4.h4 {
            font-size: 15px;
          }
        }
      }
    }

    .section__nav {
      background: #F5FAFF;
      border-radius: 8px;
      padding: 20px 24px;

      .nav__title {
        margin-bottom: 10px;

        &:last-child {
          margin-bottom: 0;
        }

        .text {
          font-weight: 700;
        }
      }

      .list {
        .list__item {
          margin-bottom: 10px;

          &:last-child {
            margin-bottom: 0;
          }
        }
      }

      @media (max-width: $bpPhone) {
        padding: 20px;
      }
    }

    .section__table {
      flex: 1 1 auto;

      &-wrapper {
        display: flex;
        margin: 0 -20px -20px;

        &:after {
          content: '';
          display: table;
          clear: both;
        }

        @media (max-width: 600px) {
          flex-wrap: wrap;
        }
      }

      &-double {
        margin-bottom: 26px;

        .section__table {
          margin: 0 20px 20px;

          &-wrapper {
            padding-right: 0;
            width: calc(100% + 40px);
          }
        }
      }

      .icon-check {
        color: $greenColor;
      }

      @media (max-width: $bpPhone) {

        .table-info {
          thead {
            display: none;
          }

          tbody {
            tr {
              display: flex;
              flex-wrap: wrap;
              border-bottom: 1px solid #D9E2EE;
              padding: 20px 0;

              &:last-child {
                border-bottom: none;
              }

              td {
                display: flex;
                align-items: center;
                width: 100%;
                padding: 6px 0;
                text-align: left;

                .mobile-title {
                  width: 95px;
                }
              }
            }
          }
        }
      }
    }

    .section__slider {
      margin-top: 26px;
    }

    .section__video {
      border-radius: 0 0 8px 8px;
      margin: 0 -50px 30px;

      &:last-child {
        margin-bottom: 0;
      }

      .video-content {
        position: relative;
        background: #22293C;
        padding-top: 46.25%;

        .icon-play {
          width: 70px;
          height: 70px;
          border-radius: 50%;
          background: #fff;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          cursor: pointer;
          color: $primaryColor;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 21px;
          line-height: 1;
          transition: .2s;
          z-index: 1;

          &:before {
            margin-left: 5px;
          }

          &:hover {
            background: $primaryColor;
            color: #fff;
            transform: translate(-50%, -50%) scale(1.1);
          }
        }

        .video {
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          z-index: 2;
        }
      }

      .video-info {
        padding: 15px 65px;

        .info-caption {
          text-align: center;
          margin-bottom: 26px;

          &:last-child {
            margin-bottom: 0;
          }

          .text {
            color: #7E8493;
            font-style: italic;
          }
        }

        @media (max-width: $bpTablet) {
          padding: 15px 45px 35px;
        }
        @media (max-width: $bpMobile) {
          padding: 15px 35px 30px;
        }
        @media (max-width: $bpPhone) {
          padding: 15px 25px 25px;
        }
      }

      @media (max-width: $bpTablet) {
        margin: 0 -40px 20px;
      }
      @media (max-width: $bpMobile) {
        margin: 0 -35px 20px;
      }
      @media (max-width: $bpPhone) {
        margin: 0 -25px 20px;
      }
    }

    @media (max-width: $bpTablet) {
      .section__wrapper {
        padding: 35px 40px 50px 40px;
      }
    }
    @media (max-width: $bpMobile) {
      .section__wrapper {
        padding: 35px 35px 35px 40px;
      }
    }
    @media (max-width: $bpPhone) {
      .section__wrapper {
        padding: 30px 25px;
      }
      margin: 0 -25px 30px;

      &:last-child {
        margin: 0 -25px;
      }
    }
  }

  &.section-contacts {
    margin-bottom: 40px;
    background: #FFFFFF;
    border-radius: 8px;
    padding: 50px 70px;

    &:last-child {
      margin-bottom: 0;
    }

    .section__title {
      margin-bottom: 26px;
    }

    .section__table {
      margin-right: 0;
    }

    @media (max-width: $bpTablet) {
      padding: 40px 60px;
      margin-bottom: 40px;
    }
    @media (max-width: $bpMobile) {
      padding: 30px 35px;
      margin-bottom: 30px;
    }
    @media (max-width: $bpPhone) {
      padding: 30px 25px;
      margin: 0 -25px 20px;
    }
  }

  &.section-reviews {
    margin-bottom: 70px;

    @media (max-width: $bpLaptop) {
      margin-bottom: 60px;
    }
    @media (max-width: $bpTablet) {
      margin-bottom: 50px;
    }
    @media (max-width: $bpMobile) {
      margin-bottom: 40px;
    }
    @media (max-width: $bpPhone) {
      margin-bottom: 30px;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &.section-comments {
    margin-bottom: 70px;

    @media (max-width: $bpLaptop) {
      margin-bottom: 60px;
    }
    @media (max-width: $bpTablet) {
      margin-bottom: 50px;
    }
    @media (max-width: $bpMobile) {
      margin-bottom: 40px;
    }
    @media (max-width: $bpPhone) {
      margin-bottom: 30px;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &.section-assessment {
    margin-bottom: 50px;

    @media (max-width: $bpMobile) {
      margin-bottom: 40px;
    }

    @media (max-width: $bpPhone) {
      margin-bottom: 30px;
    }
  }

  &.section-faq {
    margin-bottom: 26px;

    &:last-child {
      margin-bottom: 0;
    }

    .section__title {
      margin-bottom: 34px;
    }
  }

  &.section-news {
    margin-bottom: 70px;

    @media (max-width: $bpLaptop) {
      margin-bottom: 60px;
    }
    @media (max-width: $bpTablet) {
      margin-bottom: 50px;
    }
    @media (max-width: $bpMobile) {
      margin-bottom: 40px;
    }
    @media (max-width: $bpPhone) {
      margin-bottom: 30px;
    }

    &:last-child {
      margin-bottom: 0;
    }

    .section__title {
      margin-bottom: 26px;

      &:last-child {
        margin-bottom: 0;
      }

      @media (max-width: $bpPhone) {
        margin-bottom: 16px;
      }
    }
  }

  &.section-results {
    margin-bottom: 26px;

    &:last-child {
      margin-bottom: 0;
    }

    .section__title {
      margin-bottom: 34px;
    }
  }

  &.section-partners {
    margin-bottom: 60px;

    @media (max-width: $bpTablet) {
      margin-bottom: 50px;
    }
    @media (max-width: $bpMobile) {
      margin-bottom: 40px;
    }
    @media (max-width: $bpPhone) {
      margin-bottom: 30px;
    }
  }

  &.section-description {
    margin-bottom: 26px;

    &:last-child {
      margin-bottom: 0;
    }

    .section__wrapper {
      padding: 40px 50px;
      background: #FFFFFF;
      border-radius: 8px;
      margin-bottom: 10px;

      &:last-child {
        margin-bottom: 0;
      }

      .text {
        font-size: 14px;
      }
    }

    .accordion {
      padding: 20px 30px;
      background: #fff;
      border-radius: 8px;

      &__item {
        &.-active {
          .accordion__header {
            .icon-arrow-down {
              transform: rotate(180deg);
            }
          }
        }
      }

      &__header {
        display: flex;
        align-items: center;
        cursor: pointer;

        .text {
          flex: 1 1 auto;
          font-weight: 700;
          font-size: 14px;
        }

        .icon-medal-single {
          font-size: 22px;
          color: $greenColor;
          margin-right: 12px;

          @media (max-width: $bpPhone) {
            font-size: 18px;
          }
        }

        .icon-arrow-down {
          color: $primaryColor;
          font-size: 12px;
          transition: .2s;
        }
      }

      &__inner {
        margin-top: 15px;
      }

      @media (max-width: $bpPhone) {
        margin: 0 -25px;
        padding: 20px 25px;
      }
    }

    @media (max-width: $bpTablet) {
      .section__wrapper {
        padding: 30px 40px;
      }
    }
    @media (max-width: $bpMobile) {
      .section__wrapper {
        padding: 25px 30px;
      }
    }
    @media (max-width: $bpPhone) {
      .section__wrapper {
        padding: 20px 25px;
        margin: 0 -25px;
      }
    }
  }

  &.section-catalog {
    margin-bottom: 26px;

    &:last-child {
      margin-bottom: 0;
    }

    @media (max-width: $bpPhone) {
      margin-bottom: 20px;
    }
  }

  &.section-teachers {
    margin-bottom: 70px;

    @media (max-width: $bpLaptop) {
      margin-bottom: 60px;
    }
    @media (max-width: $bpTablet) {
      margin-bottom: 50px;
    }
    @media (max-width: $bpMobile) {
      margin-bottom: 40px;
    }
    @media (max-width: $bpPhone) {
      margin-bottom: 30px;
    }

    &:last-child {
      margin-bottom: 0;
    }

    .section__title {
      margin-bottom: 26px;
    }
  }

  &.section-account {
    .section__wrapper {
      padding: 50px 70px;
      background: #fff;
      border-radius: 8px;
    }

    .section__title {
      display: flex;
      align-items: center;
      justify-content: space-between;

      h1.h1 {
        font-size: 30px;
      }
    }

    @media (max-width: $bpTablet) {
      .section__wrapper {
        padding: 35px 40px 50px 40px;
      }
    }
    @media (max-width: $bpMobile) {
      .section__wrapper {
        padding: 35px 35px 35px 40px;
      }
    }
    @media (max-width: $bpPhone) {
      .section__wrapper {
        padding: 30px 25px;
      }

      margin: 0 -25px;
      &:last-child {
        margin: 0 -25px;
      }
    }
  }
}

.page-main {

  .section {

    &.section-catalog {
      margin-bottom: 26px;

      &:last-child {
        margin-bottom: 0;
      }

      .catalog-main {
        .catalog__item {
          .item__price {
            margin-bottom: 0;
          }
        }
      }
    }
  }
}

.page-school-inner {
  .section {

    &.section-catalog {
      margin-bottom: 26px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.page-school-detail {
  .section {

    &.section-main {
      margin-bottom: 15px;

      &:last-child {
        margin-bottom: 0;
      }

      .section__wrapper {
        padding: 45px 70px;
        background: #FFFFFF;
        box-shadow: 0 20px 25px rgba(218, 218, 241, 0.19);
        border-radius: 8px 8px 0 0;

        .section__title {
          display: flex;
          align-items: flex-end;
          justify-content: space-between;

          .section__price {
            .text {
              font-weight: 400;
              line-height: 1;
              white-space: nowrap;
            }

            .count {
              font-size: 24px;
              font-weight: 600;
            }
          }

          @media (max-width: $bpPhone) {
            flex-wrap: wrap;
            margin-bottom: 14px;

            .h1, .section__price {
              width: 100%;
            }

            .h1 {
              margin-bottom: 10px;
            }
          }
        }

        .section__rating {
          margin-bottom: 16px;

          .rating-wrapper {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            margin: 0 -6px;

            .rating-item {
              margin: 0 6px;
            }

            .rating-link {
              @media (max-width: $bpPhone) {
                display: none;
              }
            }
          }

          &:last-child {
            margin-bottom: 0;
          }

          .list {

            &:last-child {
              margin-right: 0;
            }
          }

          .rating-count {

            .count {
              font-weight: 500;
            }

            &:last-child {
              margin-right: 0;
            }
          }

          @media (max-width: $bpPhone) {
            margin-bottom: 8px;
          }
        }

        .section__control {
          margin: 0 5px 10px;
          display: flex;
          align-items: center;

          &-wrapper {
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-wrap: wrap;
            margin: 0 -5px -10px;

            @media (max-width: $bpPhone) {
              justify-content: flex-start;
            }
          }

          &.control-grade {
            display: flex;
            align-items: center;
            flex: 1 1 auto;

            .count {
              height: 42px;
              width: 72px;
              background: url('../img/rating-bg-image.png') center center no-repeat;
              background-size: cover;
              display: flex;
              justify-content: center;
              align-items: center;
              color: #fff;
              font-weight: 700;
              font-size: 21px;
              margin-right: 8px;

              &:last-child {
                margin-right: 0;
              }
            }

            @media (max-width: $bpPhone) {
              order: 0;
              width: 100%;

              .count {
                width: 50px;
                height: 30px;
                font-size: 14px;
              }
            }
          }

          &.control-media {
            @media (max-width: $bpPhone) {
              order: 1;
              display: flex;

              .list-media-icons-border {
                .list__item {
                  &-link {
                    .text {
                      font-size: 12px;
                    }
                  }
                }
              }
            }
          }

          &.control-favorite {
            .link {
              display: flex;
              justify-content: center;
              align-items: center;
              height: 42px;
              width: 42px;
              background: #FFFFFF;
              box-shadow: 0 15px 20px rgba(218, 218, 241, 0.25);
              border-radius: 8px;

              .icon {
                font-size: 18px;
                color: #8294A1;
              }
            }

            &.-active, &:hover {
              .link {
                background: #FFF4F5;
              }

              .icon {
                color: rgba(255, 42, 62, 1);

                &:before {
                  content: '\e913';
                }
              }
            }

            @media (max-width: $bpPhone) {
              order: 3;
            }
          }

          &.control-global {
            @media (max-width: $bpPhone) {
              order: 2;
            }
          }

          &.control-logo {
            .link {
              height: 42px;
              display: flex;
              justify-content: center;
              align-items: center;
              width: 126px;
              padding: 3px 12px;
              background: #FFFFFF;
              box-shadow: 0 15px 20px rgba(218, 218, 241, 0.25);
              border-radius: 8px;

              .image {
                max-height: 100%;
              }
            }

            @media (max-width: $bpPhone) {
              &:not(.-mobile) {
                display: none;
              }
            }
          }

          &.-mobile {
            @media (min-width: $bpPhone + 1) {
              display: none;
            }
            @media (max-width: $bpPhone) {
              .control-logo {
                display: block;
              }
            }
          }
        }

        @media (min-width: $bpTablet + 1) and (max-width: $bpLaptop) {
          padding: 30px;
        }

        @media (max-width: $bpTablet) {
          padding: 35px 55px;
        }
        @media (max-width: $bpMobile) {
          padding: 30px 45px;
        }
        @media (max-width: $bpPhone) {
          padding: 20px 25px;
        }
      }

      .section__promo {
        border-radius: 0 0 8px 8px;
        padding: 20px 65px;
        background: #eda0a8 center center no-repeat;
        height: 411px;
        display: flex;
        align-items: center;
        background-size: cover;
        margin-bottom: 12px;

        &:last-child {
          margin-bottom: 0;
        }

        .promo-wrapper {
          width: 220px;
          max-width: 100%;

          .promo-text {
            margin-bottom: 32px;

            &:last-child {
              margin-bottom: 0;
            }

            .text {
              color: #fff;
              line-height: 1.8;
              font-size: 15px;
            }

            @media (max-width: $bpTablet) {
              margin-bottom: 26px;
            }
            @media (max-width: $bpMobile) {
              margin-bottom: 22px;
            }
            @media (max-width: $bpPhone) {
              margin-bottom: 16px;
            }
          }
        }

        @media (max-width: $bpMobile) {
          height: 354px;
        }

        @media (max-width: $bpPhone) {
          padding: 20px 25px;
          align-items: flex-start;
          height: 236px;
          background-image: url('../img/school-detail-image-mobile.jpg') !important;
        }
      }

      .section__nav {
        @media (max-width: $bpPhone) {
          padding-left: 25px;
        }
      }

      @media (max-width: $bpPhone) {
        margin: 0 -25px 15px;
      }
    }

    &.section-services {
      margin-bottom: 60px;

      @media (max-width: $bpLaptop) {
        margin-bottom: 50px;
      }
      @media (max-width: $bpTablet) {
        margin-bottom: 40px;
      }
      @media (max-width: $bpPhone) {
        margin-bottom: 30px;
      }
      @media (max-width: $bpPhone) {
        margin-bottom: 20px;
      }

      &:last-child {
        margin-bottom: 0;
      }

      .section__table-search {
        .table__button {
          text-align: center;
        }
      }

      .section__table-form {
        margin-bottom: 30px;
        background: #3D95F5;
        border-radius: 8px;
        padding: 30px;

        @media (max-width: $bpTablet) {
          padding: 25px 20px;
        }
      }

      .section__table-wrapper {
        background: #FFFFFF;
        border-radius: 8px;
        padding: 35px 40px;
        margin-bottom: 25px;
        max-width: 100%;
        overflow-x: auto;

        &:last-child {
          margin-bottom: 0;
        }

        @media (max-width: $bpPhone) {
          padding: 20px 25px;
          margin: 0 -25px 20px;
          max-width: calc(100% + 50px);
        }
      }

      .section__table {
        overflow: hidden;

        .table.table-info td:not(:first-child), .table.table-info th:not(:first-child) {
          white-space: normal;
        }
      }
    }
  }
}

.page-university-search {

  .section {

    &.section-catalog {
      margin-bottom: 36px;

      @media (max-height: $bpPhone) {
        margin-bottom: 30px;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }

    &.section-search-form {
      .section__wrapper {
        margin-bottom: 10px;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}

.page-university-detail {

  .section {

    &.section-main {
      margin-bottom: 15px;

      &:last-child {
        margin-bottom: 0;
      }

      .section__list {
        .list-checked {
          .list__item {
            .text {
              font-size: 13px;
              font-weight: 500;
            }
          }
        }
      }

      .section__wrapper {
        padding: 45px 65px;
        background: #FFFFFF;
        box-shadow: 0 20px 25px rgba(218, 218, 241, 0.19);
        border-radius: 8px 8px 0 0;

        .section__title {
          display: flex;
          align-items: flex-end;
          justify-content: space-between;

          .section__price {
            .text {
              font-weight: 400;
              white-space: nowrap;
            }

            .count {
              font-size: 24px;
              font-weight: 600;
            }
          }

          @media (max-width: $bpPhone) {
            flex-wrap: wrap;

            .h1, .section__price {
              width: 100%;
            }
          }
        }

        .section__rating {
          margin-bottom: 16px;

          .rating-wrapper {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            margin: 0 -6px -10px;

            .rating-item {
              margin: 0 6px 10px;
            }
          }

          &:last-child {
            margin-bottom: 0;
          }

          .list {

            &:last-child {
              margin-right: 0;
            }
          }

          .rating-count {

            .count {
              font-weight: 500;
            }

            &:last-child {
              margin-right: 0;
            }
          }
        }

        .section__control {
          margin: 0 5px 10px;
          display: flex;
          align-items: center;

          &-wrapper {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            margin: 0 -5px -10px;
          }

          &.control-grade {
            display: flex;
            align-items: center;
            flex: 1 1 auto;

            .count {
              height: 42px;
              width: 72px;
              background: url('../img/rating-bg-image.png') center center no-repeat;
              background-size: cover;
              display: flex;
              justify-content: center;
              align-items: center;
              color: #fff;
              font-weight: 700;
              font-size: 21px;
              margin-right: 8px;

              &:last-child {
                margin-right: 0;
              }

              @media (max-width: $bpPhone) {
                width: 50px;
                height: 30px;
                font-size: 14px;
              }
            }

            @media (max-width: $bpPhone) {
              order: 0;
            }
          }

          &.control-media {

            @media (max-width: $bpPhone) {
              order: 1;
            }
          }

          &.control-favorite {

            .link {
              display: flex;
              justify-content: center;
              align-items: center;
              height: 42px;
              width: 42px;
              background: #FFFFFF;
              box-shadow: 0 15px 20px rgba(218, 218, 241, 0.25);
              border-radius: 8px;

              .icon {
                font-size: 18px;
                color: #8294A1;
              }
            }

            &.-active, &:hover {
              .link {
                background: #FFF4F5;
              }

              .icon {
                color: rgba(255, 42, 62, 1);

                &:before {
                  content: '\e913';
                }
              }
            }

            @media (max-width: $bpPhone) {
              order: 2;
            }
          }

          .control-logo {
            .link {
              height: 42px;
              display: flex;
              justify-content: center;
              align-items: center;
              width: 126px;
              padding: 12px;
              background: #FFFFFF;
              box-shadow: 0 15px 20px rgba(218, 218, 241, 0.25);
              border-radius: 8px;
            }
          }
        }

        @media (min-width: $bpTablet + 1) and (max-width: $bpLaptop) {
          padding: 30px;
        }

        @media (max-width: $bpTablet) {
          padding: 35px 55px;
        }
        @media (max-width: $bpMobile) {
          padding: 30px 45px;
        }
        @media (max-width: $bpPhone) {
          padding: 25px 25px;
        }
      }

      .section__promo {
        border-radius: 0 0 8px 8px;
        padding: 20px 65px;
        background: center center no-repeat;
        background-size: cover;
        height: 352px;
        margin-bottom: 12px;

        &:last-child {
          margin-bottom: 0;
        }

        .promo-wrapper {
          width: 220px;
          max-width: 100%;

          .promo-text {
            margin-bottom: 32px;

            &:last-child {
              margin-bottom: 0;
            }

            .text {
              color: #fff;
              line-height: 1.8;
              font-size: 15px;
            }

            @media (max-width: $bpTablet) {
              margin-bottom: 26px;
            }
            @media (max-width: $bpMobile) {
              margin-bottom: 22px;
            }
            @media (max-width: $bpPhone) {
              margin-bottom: 16px;
            }
          }
        }

        @media (max-width: $bpMobile) {
          padding: 20px 25px;
          height: 252px;
        }

        @media (max-width: $bpPhone) {
          height: 158px;
        }

      }

      .section__nav {
        @media (max-width: $bpPhone) {
          padding-left: 25px;
        }
      }

      @media (max-width: $bpPhone) {
        margin: 0 -25px 15px;
      }
    }

    &.section-universities {
      margin-bottom: 70px;

      &:last-child {
        margin-bottom: 0;
      }

      .section__title {
        margin-bottom: 26px;

        &:last-child {
          margin-bottom: 0;
        }

        @media (max-width: $bpPhone) {
          margin-bottom: 16px;
        }
      }

      @media (max-width: $bpLaptop) {
        margin-bottom: 60px;
      }
      @media (max-width: $bpTablet) {
        margin-bottom: 50px;
      }
      @media (max-width: $bpMobile) {
        margin-bottom: 40px;
      }
      @media (max-width: $bpPhone) {
        margin-bottom: 30px;
      }
    }

    &.section-faculties {
      margin-bottom: 70px;

      @media (max-width: $bpLaptop) {
        margin-bottom: 60px;
      }
      @media (max-width: $bpTablet) {
        margin-bottom: 50px;
      }
      @media (max-width: $bpMobile) {
        margin-bottom: 40px;
      }
      @media (max-width: $bpPhone) {
        margin-bottom: 30px;
      }

      &:last-child {
        margin-bottom: 0;
      }

      .section__title {
        margin-bottom: 26px;

        &:last-child {
          margin-bottom: 0;
        }

        @media (max-width: $bpPhone) {
          margin-bottom: 16px;
        }
      }

      .catalog {
        margin-bottom: 20px;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    &.section-olympiads {
      margin-bottom: 40px;

      @media (max-width: $bpPhone) {
        margin-bottom: 30px;
      }
    }
  }
}

.page-institute-detail {

  .section {

    &.section-main {
      margin-bottom: 15px;

      &:last-child {
        margin-bottom: 0;
      }

      .section__list {
        .list-checked {
          .list__item {
            .text {
              font-size: 13px;
              font-weight: 500;
            }
          }
        }
      }

      .section__wrapper {
        padding: 45px 65px;
        background: #FFFFFF;
        box-shadow: 0 20px 25px rgba(218, 218, 241, 0.19);
        border-radius: 8px 8px 0 0;

        .section__title {
          display: flex;
          align-items: flex-end;
          justify-content: space-between;

          .section__price {
            .text {
              font-weight: 400;
              white-space: nowrap;
            }

            .count {
              font-size: 24px;
              font-weight: 600;
            }
          }

          @media (max-width: $bpPhone) {
            flex-wrap: wrap;

            .h1, .section__price {
              width: 100%;
            }
          }
        }

        .section__rating {
          margin-bottom: 16px;

          .rating-wrapper {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            margin: 0 -6px -10px;

            .rating-item {
              margin: 0 6px 10px;
            }
          }

          &:last-child {
            margin-bottom: 0;
          }

          .list {

            &:last-child {
              margin-right: 0;
            }
          }

          .rating-count {

            .count {
              font-weight: 500;
            }

            &:last-child {
              margin-right: 0;
            }
          }
        }

        .section__control {
          margin: 0 5px 10px;
          display: flex;
          align-items: center;

          &-wrapper {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            margin: 0 -5px -10px;
          }

          &.control-grade {
            display: flex;
            align-items: center;
            flex: 1 1 auto;

            .count {
              height: 42px;
              width: 72px;
              background: url('../img/rating-bg-image.png') center center no-repeat;
              background-size: cover;
              display: flex;
              justify-content: center;
              align-items: center;
              color: #fff;
              font-weight: 700;
              font-size: 21px;
              margin-right: 8px;

              &:last-child {
                margin-right: 0;
              }

              @media (max-width: $bpPhone) {
                width: 50px;
                height: 30px;
                font-size: 14px;
              }
            }

            @media (max-width: $bpPhone) {
              order: 0;
            }
          }

          &.control-media {

            @media (max-width: $bpPhone) {
              order: 1;
            }
          }

          &.control-favorite {

            .link {
              display: flex;
              justify-content: center;
              align-items: center;
              height: 42px;
              width: 42px;
              background: #FFFFFF;
              box-shadow: 0 15px 20px rgba(218, 218, 241, 0.25);
              border-radius: 8px;

              .icon {
                font-size: 18px;
                color: #8294A1;
              }
            }

            &.-active, &:hover {
              .link {
                background: #FFF4F5;
              }

              .icon {
                color: rgba(255, 42, 62, 1);

                &:before {
                  content: '\e913';
                }
              }
            }

            @media (max-width: $bpPhone) {
              order: 2;
            }
          }

          .control-logo {
            .link {
              height: 42px;
              display: flex;
              justify-content: center;
              align-items: center;
              width: 126px;
              padding: 12px;
              background: #FFFFFF;
              box-shadow: 0 15px 20px rgba(218, 218, 241, 0.25);
              border-radius: 8px;
            }
          }
        }

        @media (min-width: $bpTablet + 1) and (max-width: $bpLaptop) {
          padding: 30px;
        }

        @media (max-width: $bpTablet) {
          padding: 35px 55px;
        }
        @media (max-width: $bpMobile) {
          padding: 30px 45px;
        }
        @media (max-width: $bpPhone) {
          padding: 25px 25px;
        }
      }

      .section__promo {
        border-radius: 0 0 8px 8px;
        padding: 20px 65px;
        background: center center no-repeat;
        background-size: cover;
        height: 352px;
        margin-bottom: 12px;

        &:last-child {
          margin-bottom: 0;
        }

        .promo-wrapper {
          width: 220px;
          max-width: 100%;

          .promo-text {
            margin-bottom: 32px;

            &:last-child {
              margin-bottom: 0;
            }

            .text {
              color: #fff;
              line-height: 1.8;
              font-size: 15px;
            }

            @media (max-width: $bpTablet) {
              margin-bottom: 26px;
            }
            @media (max-width: $bpMobile) {
              margin-bottom: 22px;
            }
            @media (max-width: $bpPhone) {
              margin-bottom: 16px;
            }
          }
        }

        @media (max-width: $bpMobile) {
          padding: 20px 25px;
          height: 252px;
        }

        @media (max-width: $bpPhone) {
          height: 158px;
        }

      }

      .section__nav {
        @media (max-width: $bpPhone) {
          padding-left: 25px;
        }
      }

      @media (max-width: $bpPhone) {
        margin: 0 -25px 15px;
      }
    }

    &.section-faculties {
      margin-bottom: 70px;

      @media (max-width: $bpLaptop) {
        margin-bottom: 60px;
      }
      @media (max-width: $bpTablet) {
        margin-bottom: 50px;
      }
      @media (max-width: $bpMobile) {
        margin-bottom: 40px;
      }
      @media (max-width: $bpPhone) {
        margin-bottom: 30px;
      }

      &:last-child {
        margin-bottom: 0;
      }

      .section__title {
        margin-bottom: 26px;

        &:last-child {
          margin-bottom: 0;
        }
      }

      .catalog {
        margin-bottom: 20px;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    &.section-ege {
      margin-bottom: 57px;
      background: #FFFFFF;
      border-radius: 8px;
      padding: 50px 70px;

      &:last-child {
        margin-bottom: 0;
      }

      .section__title {
        margin-bottom: 26px;

        &-wrapper {
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin: 0 -10px -10px;

          .text, .sup-block, .h2 {
            margin: 0 10px 10px;
          }

          @media (max-width: $bpPhone) {
            .sup-block {
              display: none;
            }
          }
        }

        @media (max-width: $bpMobile) {
          flex-wrap: wrap;
        }
        @media (max-width: $bpPhone) {
          margin-bottom: 16px;
        }
      }

      .section__table {
        .table-info {

          tr {
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-end;

            th, td {
              @media (max-width: $bpPhone) {
                padding: 10px;
              }
            }

            td {
              &:first-child {
                width: 45%;
              }

              &:nth-child(n + 2) {
                width: 55%;
                text-align: right;
              }
            }
          }
        }
      }

      @media (max-width: $bpTablet) {
        padding: 40px 60px;
        margin-bottom: 40px;
      }
      @media (max-width: $bpMobile) {
        padding: 30px 35px;
        margin-bottom: 30px;
      }
      @media (max-width: $bpPhone) {
        padding: 30px 25px;
        margin: 0 -25px 20px;
      }
    }
  }
}

.page-olympiads-inner {

  .section {

    &.section-search-form {
      .form-inner-search {
        .form__item-wrapper {
          .input__field {
            width: calc(33.3333% - -10px);
          }
        }
      }
    }
  }
}

.page-olympiads-detail {

  .section {

    &.section-results {
      margin-bottom: 70px;

      @media (max-width: $bpLaptop) {
        margin-bottom: 60px;
      }
      @media (max-width: $bpTablet) {
        margin-bottom: 50px;
      }
      @media (max-width: $bpMobile) {
        margin-bottom: 40px;
      }
      @media (max-width: $bpPhone) {
        margin-bottom: 30px;
      }
    }

    &#section-about-2 {
      margin-bottom: 60px;

      @media (max-width: $bpTablet) {
        margin-bottom: 50px;
      }
      @media (max-width: $bpMobile) {
        margin-bottom: 40px;
      }
      @media (max-width: $bpPhone) {
        margin-bottom: 30px;
      }
    }

    &.section-interested {
      margin-bottom: 60px;

      @media (max-width: $bpTablet) {
        margin-bottom: 50px;
      }
      @media (max-width: $bpMobile) {
        margin-bottom: 40px;
      }
      @media (max-width: $bpPhone) {
        margin-bottom: 30px;
      }
    }
  }
}

.page-university-direction {
  .section {

    &.section-about {
      margin-bottom: 40px;

      &:last-child {
        margin-bottom: 0;
      }

      .section__title {
        margin-bottom: 10px;
      }

      .section__table {
        overflow: hidden;

        .table-info {
          tr {

            th {
              padding: 6px 13px;
              vertical-align: middle;
            }

            th, td {
              padding: 13px;
              text-align: left;

              b {
                font-weight: 600;
              }
            }
          }
        }
      }

      .list-dotted-primary {
        .list__item {
          margin-bottom: 5px;

          &:last-child {
            margin-bottom: 0;
          }
        }
      }

      @media (max-width: $bpMobile) {
        margin-bottom: 30px;
      }
    }
  }
}

.page-tutors-rating {

  .section-catalog {
    .rec-block {
      margin-top: 26px;
    }
  }
}

.page-project-detail {

  .section-about {
    margin-bottom: 50px;

    @media (max-width: $bpMobile) {
      margin-bottom: 40px;
    }
    @media (max-width: $bpPhone) {
      margin-bottom: 30px;
    }
  }

  .section-reviews {
    .section__tags {
      margin-top: 30px;
    }
  }
}

.page-terms-of-use {
  .section-about {
    .section__wrapper {
      padding: 40px 70px;
    }
    @media (max-width: $bpTablet) {
      .section__wrapper {
        padding: 35px 40px 50px 40px;
      }
    }
    @media (max-width: $bpMobile) {
      .section__wrapper {
        padding: 35px 35px 35px 40px;
      }
    }
    @media (max-width: $bpPhone) {
      .section__wrapper {
        padding: 30px 25px;
      }

      &:last-child {
        margin: 0 -25px;
      }
    }
  }
}