.sidebar {
  width: 300px;
  flex: 0 0 auto;
  margin: 0 35px 40px;

  @media (max-width: $bpLaptop) {
    margin: 0 15px 40px;
  }

  @media (max-width: $bpTablet) {
    margin: 0 -25px 30px;
    width: calc(100% + 50px);
    padding: 30px 25px;
    order: 0;
    background: #E0EEFD;
  }

  @media (max-width: $bpMobile) {
    padding: 15px 25px;
    margin: 0 -25px 20px;
  }

  @media (max-width: $bpPhone) {
    padding: 15px 25px;
  }

  &__item {
    margin-bottom: 20px;

    &:last-child {
      margin-bottom: 0;
    }

    @media (max-width: $bpTablet) {
      &.item-news, &.item-quiz, &.item-adv {
        display: none;
      }

      &.item-rating {
        margin-bottom: 0;
      }
    }
  }

  &__title {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 15px;

    &:last-child {
      margin-bottom: 0;
    }

    .text, .link {
      font-weight: 500;
    }

    .text {
      line-height: 1;
      font-size: 21px;

      @media (max-width: $bpMobile) {
        font-size: 18px;
      }
      @media (max-width: $bpPhone) {
        font-size: 16px;
      }
    }
  }

  &__catalog {
    margin-bottom: 20px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__ban-image {
    width: 100%;
    text-align: center;
    border-radius: 8px;
    background: #fff;
    margin-bottom: 20px;

    &:last-child {
      margin-bottom: 0;
    }

    .link {
      display: flex;
      justify-content: center;
    }
  }
}