.sidebar {
  width: 300px;
  flex: 0 0 auto;
  margin: 0 35px 40px;

  @media (max-width: $bpLaptop) {
    margin: 0 25px 40px;
  }

  @media (max-width: $bpTablet) {
    margin: 0 -25px 30px;
    width: calc(100% + 50px);
    padding: 30px 25px;
    order: 0;
    background: #E0EEFD;
  }

  @media (max-width: $bpMobile) {
    padding: 25px;
  }

  @media (max-width: $bpPhone) {
    padding: 15px 25px;
  }

  &__item {
    margin-bottom: 20px;

    &:last-child {
      margin-bottom: 0;
    }

    &.item-news, &.item-quiz, &.item-image {
      @media (max-width: $bpTablet) {
        display: none;
      }
    }
  }

  &__title {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 15px;

    &:last-child {
      margin-bottom: 0;
    }

    .text, .link {
      font-weight: 500;
    }

    .text {
      line-height: 1;
      font-size: 21px;
    }
  }

  &__catalog {
    margin-bottom: 20px;

    &:last-child {
      margin-bottom: 0;
    }

    &.catalog-rating {
      counter-reset: li;

      .catalog__item {
        background: #FFFFFF;
        box-shadow: 0 20px 25px rgba(218, 218, 241, 0.19);
        border-radius: 8px;
        margin-bottom: 5px;

        &:last-child {
          margin-bottom: 0;
        }

        &-inner {
          padding: 18px;
        }

        &.-with-sup {
          border-radius: 8px 8px 0 0;
        }

        .item {

          &__sup {
            text-align: center;
            padding: 10px;
            border-radius: 0 0 3px 3px;

            .text {
              font-size: 13px;
            }

            &.-best {
              background: rgba(68, 203, 90, 0.1);
              border-bottom: #44CB5A 3px solid;

              .text {
                color: #44CB5A;
              }
            }

            &.-choose {
              background: rgba(106, 76, 251, 0.1);
              border-bottom: #6A4CFB solid 3px;

              .text {
                color: #6A4CFB;
              }
            }
          }

          &-content {
            margin-bottom: 15px;
            margin-left: -18px;

            &-wrapper {
              display: flex;
              justify-content: space-between;
              margin: 0 -2.5px -10px;
            }

            &:last-child {
              margin-bottom: 0;
            }
          }

          &-bottom {
            display: flex;
            justify-content: space-between;
            align-items: center;
          }

          &__control-wrapper {
            display: flex;
            align-items: center;
            margin: 0 2.5px 10px;
          }

          &__control {
            margin-right: 5px;

            &:last-child {
              margin-right: 0;
            }

            .icon {
              font-size: 16px;
              color: rgba(130,148,161, .5);
            }

            &.control-global {
              .icon {
                color: #8294A2;
              }
            }

            &.control-favorite {
              &.-active {
                .link {
                  background: #FFF4F5;
                }

                .icon {
                  color: rgba(255, 42, 62, 1);

                  &:before {
                    content: '\e913';
                  }
                }
              }
            }
          }

          &__logo, &__control {
            height: 42px;

            .link {
              height: 100%;
              display: flex;
              align-items: center;
              justify-content: center;
              background: #FFFFFF;
              box-shadow: 0 15px 20px rgba(218, 218, 241, 0.25);
              border-radius: 8px;
              padding: 0 13px;
            }
          }

          &__logo {
            margin: 0 2.5px 10px;
            width: 126px;
          }

          &__number {
            background: rgba(61, 150, 251, 0.1);
            border-radius: 0 8px 8px 0;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0 5px;
            margin: 0 2.5px 10px;
            height: 42px;
            width: 57px;

            &:before {
              counter-increment: li;
              content: '№ ' counters(li, '');
              font-weight: 600;
              flex: 0 0 auto;
              color: $primaryColor;
            }
          }

          &__price {
            .count {
              font-weight: 600;
            }
          }
        }
      }

      @media (max-width: $bpTablet) {
        display: flex;
        overflow-x: auto;

        .catalog__item {
          margin-bottom: 0;
          margin-right: 10px;

          &:last-child {
            margin-right: 0;
          }
        }
      }

      @media (max-width: $bpPhone) {
        align-items: flex-start;

        .catalog__item {

          &-inner {
            padding: 12px;
          }

          .item__control {
            display: none;
          }

          .item-bottom {
            flex-wrap: wrap;
            justify-content: center;
            text-align: center;

            .item__rating {
              margin-bottom: 5px;
            }
          }
        }
      }
    }

    &.catalog-news {

      .catalog__item {
        background: #FFFFFF;
        box-shadow: 0 20px 25px rgba(218, 218, 241, 0.19);
        border-radius: 8px;
        padding: 15px;
        margin-bottom: 5px;

        &:last-child {
          margin-bottom: 0;
        }
      }

      .catalog__item-inner {
        display: flex;
        align-items: center;
        margin: 0 -7.5px;

        .item {

          &__image {
            width: 88px;
            flex: 0 0 auto;
            border-radius: 8px;
            margin: 0 7.5px;

            &-wrapper {
              padding-top: 100%;
              overflow: hidden;
              position: relative;
            }

            .image {
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              height: 100%;
              min-width: 100%;
              max-width: 10000%;
            }
          }

          &__content {
            margin: 0 7.5px;
          }

          &__title {
            margin-bottom: 12px;

            &:last-child {
              margin-bottom: 0;
            }

            .text {
              font-weight: 500;
              line-height: 1.4;
            }
          }

          &__date {
            .count {
              color: #7E8493;
            }
          }
        }
      }
    }
  }

  &__ban-image {
    width: 100%;
    text-align: center;
    border-radius: 8px;
    background: #fff;
    margin-bottom: 20px;

    &:last-child {
      margin-bottom: 0;
    }

    .link {
      display: flex;
      justify-content: center;
    }
  }

  &__quiz {
    background: #FFFFFF;
    box-shadow: 0 20px 25px rgba(218, 218, 241, 0.19);
    border-radius: 8px;
    overflow: hidden;

    .quiz {

      &__image-wrapper {
        padding-top: 40%;
        position: relative;

        .image {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          height: 100%;
          min-width: 100%;
          max-width: 10000%;
        }
      }

      &__content {
        padding: 25px 30px;
      }

      &__title {
        text-align: center;
        margin-bottom: 15px;

        &:last-child {
          margin-bottom: 0;
        }

        .text {
          font-weight: 700;
        }
      }


    }
  }
}