.slider {
  position: relative;

  &.slider-images {

    .slider {
      &__image {
        position: relative;
        padding-top: 43%;
        border-radius: 8px;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
      }

      &__caption {
        margin-top: 20px;
        text-align: center;

        .text {
          color: #7E8493;
          font-style: italic;
        }
      }
    }

    .slick-dots {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      margin: 20px auto -10px;
      max-width: calc(100% + 30px);

      li {
        margin: 0 15px 10px;
        flex: 0 0 auto;

        button {
          font-size: 0;
          width: 13px;
          height: 13px;
          border-radius: 50%;
          background: #dcecff;
          display: block;
          border: none;
          outline: none;
          padding: 0;
          cursor: pointer;

          @media (max-width: $bpMobile) {
            width: 9px;
            height: 9px;
          }
        }
      }

      .slick-active {
        button {
          background: $primaryColor;
        }
      }
    }
  }

  &.slider-images-small {
    .slider__wrapper {
      margin: 0 -7px;
    }

    .slider__item {
      margin: 0 7px;
      width: 177px;

      .image-wrapper {
        padding-top: 82%;
        position: relative;
        overflow: hidden;
        border-radius: 8px;

        .image {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          min-width: 100%;
          max-width: 100000%;
          min-height: 100%;
          max-height: 120%;
        }
      }
    }
  }

  &.slider-teachers {

    .slider {
      &__wrapper {
        margin: 0 -15px;
        position: unset;
      }

      &__item {
        margin: 0 15px;

        &-inner {
          padding: 25px 45px;
          background: #fff;
          border-radius: 8px;
          text-align: center;

          @media (min-width: $bpTablet + 1) and (max-width: $bpLaptop) {
            padding: 25px 20px;
          }

          @media (max-width: $bpTablet) {
            padding: 25px 35px;
          }

          @media (max-width: $bpMobile) {
            padding: 20px;
          }

          @media (max-width: $bpPhone) {
            padding: 12px;
          }
        }

        .item {

          &__image {
            padding-top: 100%;
            position: relative;
            border-radius: 50%;
            overflow: hidden;

            &-wrapper {
              max-width: 200px;
              margin: 0 auto 20px;

              &:last-child {
                margin-bottom: 0;
              }

              @media (max-width: $bpMobile) {
                max-width: 160px;
              }
              @media (max-width: $bpPhone) {
                max-width: 88px;
              }
            }

            .image {
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              height: 100%;
              width: 100%;
              max-width: 10000%;
              z-index: 1;
            }
          }

          &__title {
            margin-bottom: 7px;

            &:last-child {
              margin-bottom: 0;
            }

            .text {
              font-size: 18px;
            }

            @media (max-width: $bpPhone) {
              .text {
                font-size: 16px;
              }
            }
          }

          &__count {
            margin-bottom: 7px;

            &:last-child {
              margin-bottom: 0;
            }
          }

          &__text {
            margin-bottom: 15px;

            &:last-child {
              margin-bottom: 0;
            }

            .text {
              color: $grayColor;
              font-size: 13px;
              line-height: 1.8;
            }
          }

          &__price {
            margin-bottom: 13px;

            &:last-child {
              margin-bottom: 0;
            }

            .count {
              font-size: 24px;
              font-weight: 600;
            }

            @media (max-width: $bpPhone) {
              font-size: 13px;

              .count {
                font-size: 14px;
              }
            }
          }
        }
      }

      &-button-prev, &-button-next {
        position: absolute;
        top: 50%;
        width: 45px;
        height: 45px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        background: #E1EBF4;
        box-shadow: 0 15px 20px rgba(218, 218, 241, 0.15);
        cursor: pointer;
        transition: .2s;

        @media (max-width: $bpPhone) {
          display: none;
        }

        &:before {
          font-family: 'icomoon';
          color: #8294A1;
          font-size: 12px;
          transition: .2s;
        }

        &:hover {
          background: $primaryColor;
          box-shadow: $primaryBoxShadow;

          &:before {
            color: #fff;
          }
        }
      }

      &-button-prev {
        transform: translate(-50%, -50%);
        left: 0;

        &:before {
          content: '\e918';
        }
      }

      &-button-next {
        transform: translate(50%, -50%);
        right: 0;

        &:before {
          content: '\e919';
        }
      }
    }

    .slick-dots {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      margin: 20px auto -10px;
      max-width: calc(100% + 30px);

      li {
        margin: 0 15px 10px;
        flex: 0 0 auto;

        button {
          font-size: 0;
          width: 13px;
          height: 13px;
          border-radius: 50%;
          background: #dcecff;
          display: block;
          border: none;
          outline: none;
          padding: 0;
          cursor: pointer;

          @media (max-width: $bpMobile) {
            width: 9px;
            height: 9px;
          }
        }

        @media (max-width: $bpPhone) {
          margin: 0 10px 10px;
        }
      }

      .slick-active {
        button {
          background: $primaryColor;
        }
      }
    }
  }

  &.slider-projects {
    .slider {

      &__wrapper {
        margin: 0 -15px;
        position: unset;
      }

      &__item {
        margin: 0 15px;
      }

      &__image {
        margin-bottom: 16px;

        &:last-child {
          margin-bottom: 0;
        }

        .image-wrapper {
          padding-top: 52%;
          position: relative;
          overflow: hidden;

          .image {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            min-width: 100%;
            max-width: 10000%;
            max-height: 100%;
          }
        }
      }

      &__title {
        margin-bottom: 8px;

        &:last-child {
          margin-bottom: 0;
        }
        .text {
          font-size: 19px;
          font-weight: 500;
        }
      }

      &__text {
        .text {
          color: $grayColor;
        }
      }

      &-button-prev, &-button-next {
        position: absolute;
        top: 45%;
        width: 45px;
        height: 45px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        background: #E1EBF4;
        box-shadow: 0 15px 20px rgba(218, 218, 241, 0.15);
        cursor: pointer;
        transition: .2s;

        @media (max-width: $bpPhone) {
          display: none;
        }

        &:before {
          font-family: 'icomoon';
          color: #8294A1;
          font-size: 12px;
          transition: .2s;
        }

        &:hover {
          background: $primaryColor;
          box-shadow: $primaryBoxShadow;

          &:before {
            color: #fff;
          }
        }
      }

      &-button-prev {
        transform: translate(-50%, -50%);
        left: 0;

        &:before {
          content: '\e918';
        }
      }

      &-button-next {
        transform: translate(50%, -50%);
        right: 0;

        &:before {
          content: '\e919';
        }
      }
    }

    .slick-dots {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      margin: 20px auto -10px;
      max-width: calc(100% + 30px);

      li {
        margin: 0 15px 10px;
        flex: 0 0 auto;

        button {
          font-size: 0;
          width: 13px;
          height: 13px;
          border-radius: 50%;
          background: #dcecff;
          display: block;
          border: none;
          outline: none;
          padding: 0;
          cursor: pointer;

          @media (max-width: $bpMobile) {
            width: 9px;
            height: 9px;
          }
        }

        @media (max-width: $bpPhone) {
          margin: 0 10px 10px;
        }
      }

      .slick-active {
        button {
          background: $primaryColor;
        }
      }
    }
  }
}