.table {

  &.table-info {
    width: 100%;

    tbody {
      border-top: 2px $primaryColor solid;
      
      &.text-left {
        tr {
          td {
            text-align: left;
          }
        }
      }
    }

    tr {
      &:nth-child(2n) {
        td {
          background: #F5FAFF;

          &:first-child {
            border-radius: 8px 0 0 8px;
          }

          &:last-child {
            border-radius: 0 8px 8px 0;
          }
        }
      }
    }

    th, td {
      padding: 15px;

      &:not(:first-child) {
        text-align: center;
        white-space: nowrap;
      }
      
      &:first-child {
        text-align: left;
      }
      
      @media (max-width: $bpPhone) {
        &:not(:first-child) {
          text-align: right;
        }
      }
    }

    .section__table-search & {
      margin-bottom: 25px;

      &:last-child {
        margin-bottom: 0;
      }

      td {
        font-weight: 700;

        .count {
          color: $primaryColor;
        }
      }

      tr {
        display: none;
        &:nth-child(2n) {
          td {
            &:first-child {
              color: $primaryColor;
            }
          }
        }
      }
    }

    &.table-max-width {
      th, td {
        padding: 15px;

        &:not(:first-child) {
          text-align: left;
          white-space: normal;
        }
      }
    }
  }

  &.table-catalog-count {
    width: 100%;
    margin: 0 -5px;
    min-width: 430px;

    thead {
      .col {
        padding: 10px 5px;

        .mobile-title {
          display: block;

          @media (min-width: $bpLaptop +1) {
            display: none;
          }

          margin-bottom: 5px;
          font-size: 11px;
          color: $grayColor;
        }

        &.col-learning-price {
          .count {
            font-size: 18px;
          }
        }

        &.col-name {
          .link {
            &.-active {
              .icon {
                transform: rotate(180deg);
              }
            }
          }
        }
      }
    }
    tbody {
      border-top: 1px solid #3D96FB;
      display: none;

      tr {
        border-bottom: 1px solid #E3ECF3;
      }

      .col {
        vertical-align: middle;
      }
    }

    .col {
      padding: 15px 5px;

      &.col-name {
        width: 40%;
        max-width: 215px;

        .caption {
          display: block;
          margin-top: 5px;
          color: $grayColor;
          font-size: 12px;
        }
      }

      &.col-passing-score {
        width: 20%;
        max-width: 110px;

        .text {
          font-size: 16px;
          font-weight: 700;
        }
      }

      &.col-budget-places {
        width: 20%;
        max-width: 110px;
      }

      &.col-learning-price {
        width: 20%;
        max-width: 140px;

        .text {
          white-space: nowrap;
        }

        .count {
          font-size: 17px;
          font-weight: 600;
        }
      }

    }
  }
}