.table {

  &.table-info {
    width: 100%;

    .mobile-title {
      margin-right: 30px;

      @media (min-width: $bpPhone + 1) {
        display: none;
      }
    }

    tbody {
      border-top: 2px $primaryColor solid;
      
      &.text-left {
        tr {
          td {
            text-align: left;
          }
        }
      }
    }

    tr {
      &:nth-child(2n) {
        background: #F5FAFF;
        border-radius: 8px;
      }
    }

    th, td {
      padding: 15px;

      &:not(:first-child) {
        text-align: center;
        white-space: nowrap;
      }
      
      &:first-child {
        text-align: left;
      }
      
      @media (max-width: $bpPhone) {
        &:not(:first-child) {
          text-align: right;
        }
      }
    }

    .section__table-search & {
      margin-bottom: 25px;

      &:last-child {
        margin-bottom: 0;
      }

      td {
        font-weight: 700;

        .count {
          color: $primaryColor;
        }
      }

      tr {
        display: none;
        &:nth-child(2n) {
          td {
            &:first-child {
              color: $primaryColor;
            }
          }
        }
      }
    }

    &.table-max-width {
      th, td {
        padding: 15px;

        &:not(:first-child) {
          text-align: left;
          white-space: normal;
        }
      }
    }
  }

  &.table-catalog-count {
    width: 100%;
    margin: 0 -5px;

    tr {
      display: flex;

      @media (max-width: $bpMobile) {
        flex-wrap: wrap;
        padding: 5px 0;
      }
    }

    thead {
      .col {
        padding: 10px 5px;

        @media (max-width: $bpPhone) {
          padding: 5px;
        }

        &.col-learning-price {
          .count {
            font-size: 18px;
          }
        }

        &.col-name {
          .text-block {
            margin: 0 -5px;
            width: calc(100% + 10px);
          }
          .text {
            white-space: nowrap;
          }
          .link {
            .text-block {
              flex-direction: row;
              justify-content: flex-start;
              margin: 0;
            }
            &.-active {
              .icon {
                transform: rotate(180deg);
              }
            }
          }
        }
      }
    }

    tbody {
      border-top: 1px solid #3D96FB;
      display: none;

      tr {
        border-bottom: 1px solid #E3ECF3;
      }
    }

    .col {
      padding: 15px 5px;

      @media (max-width: $bpPhone) {
        padding: 5px;
      }

      &.col-name {
        width: 40%;
        max-width: 215px;

        .caption {
          display: block;
          margin-top: 5px;
          color: $grayColor;
          font-size: 12px;
        }
      }

      &.col-passing-score {
        width: 20%;
        max-width: 110px;

        .text {
          font-size: 16px;
          font-weight: 700;
        }
      }

      &.col-budget-places {
        width: 20%;
        max-width: 110px;
      }

      &.col-learning-price {
        width: 20%;
        min-width: 140px;

        .text {
          white-space: nowrap;
        }

        .count {
          font-size: 17px;
          font-weight: 600;
        }
      }

      .text-block {
        height: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;

        .mobile-title {
          display: block;

          @media (min-width: $bpLaptop +1) {
            display: none;
          }

          margin-bottom: 5px;
          font-size: 11px;
          color: $grayColor;

          @media (max-width: $bpPhone) {
            margin-bottom: 0;
          }
        }

        @media (max-width: $bpPhone) {
          margin: 0 -5px;

          .mobile-title, .text {
            margin: 0 5px;
          }
        }
      }


      &:not(.col-name) {
        .text-block {
          @media (max-width: $bpPhone) {
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            width: calc(100% + 10px);
          }

          .text {
            @media (min-width: $bpPhone + 1) and (max-width: $bpMobile) {
              flex: 1 1 auto;
            }
          }
        }
      }

      &:not(.col-name) {
        .text-block {
          @media (min-width: $bpMobile + 1) {
            .mobile-title {
              flex: 1 1 auto;
            }
          }
        }
      }

      @media (max-width: $bpMobile) {
        &.col-name, &.col-passing-score, &.col-budget-places, &.col-learning-price {
          width: 50%;
          max-width: 50%;
        }
      }

      @media (max-width: $bpPhone) {
        &.col-name, &.col-passing-score, &.col-budget-places, &.col-learning-price {
          width: 100%;
          max-width: 100%;
          display: flex;
          align-items: center;
          justify-content: space-between;

          .text {
            font-size: 13px;

            .count {
              font-size: 14px;
            }
          }
        }

        &.col-name {
          .text-block {
            width: 100%;
            .text, .count {
              width: 100%;
            }
          }
        }
      }
    }
  }
}