.text {

  &-primary {
    color: $primaryColor;
  }

  &-gray {
    color: $grayColor;
  }

  &-greend {
    color: $greenColor;
  }

  &-default {
    color: $defaultColor;
  }

  &-red {
    color: #FB2539;
  }
}